<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>The Beer Crowd - {% block title %}Welcome!{% endblock title %}</title>
        <meta charset="uft-8">
        <meta name="description" content="beerclub come soon..">
        <meta name="author" content="Scott Plumbtree">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="/lib/w3-colors-food.css">
        <script src="https://www.w3schools.com/lib/w3.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        {% load static %}
        <link rel="stylesheet" href={% static "beerclub/style.css" %}>
		<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    </head>
	
    <body>
	{% load crispy_forms_tags %}
        <div class="w3-center w3-container w3-mobile w3-margin-top">
            <div id="content" class="w3-display-container">
				<div class="content-description-top w3-padding w3-margin-bottom content-base-shadow"><span class="w3-animate-opacity">We are thrilled you joined the beer crowd</span></div>
                {% block topbar %}
                <div class="w3-hover-grayscale">
				{% if banner.image_url %}
				<a href="{{ banner.beer_website }}" class="w3-padding-4"><img class="w3-image" style="width:100% max-width:600px" src="{{ banner.image_url }}"></a>
				{% else %}
				<img src={% static "beerclub/beer_header.jpg" %} class="w3-image w3-margin-bottom" style="max-height:200px" alt="beerclub">
				{% endif %}
				</div>
				 {% if request.user.is_authenticated %}
				<div class="w3-wide beercrowd">The Beer Crowd</div>
				<div class="w3-container w3-padding-bottom" style="display: inline-block;">
					<form name="beerForm" class="w3-center" style="margin: 0; padding:0;" action="/home/findbeer/" method="Post">
						<button type="button" onclick="myFunction()" class="w3-round-small w3-btn content-description-bullet" style="text-decoration: none; font-size: 70%;"><i class="fa fa-bars content-base-shadow" aria-hidden="true"></i></button>
							<div id="Dropclick" class="w3-dropdown-content content-base-shadow">
								{% for club in clubs %}
								<a href="/club/{{ club.club.id }}/" class="w3-center dropdown w3-padding-4">{{ club.club.name }}</a>
								{% endfor %}
								<a href="/home/notes/" class="w3-center dropdown w3-padding-4">Beer Notes</a>
								<a href="/home/ratings/" class="w3-center dropdown w3-padding-4">Beer Ratings</a>
							</div>
						<input  name="findbeer" type="text" />
						<button class="w3-round-small w3-btn content-description-bullet content-base-shadow" type="submit">Beer Me</button>
						{% csrf_token %}
					</form>
				</div>
            </div>
		</div>
		<div class="topmenu w3-center">
			<a href="/club/" class="topmenu-links w3-btn w3-round-small" style="text-decoration: none;">Crowd</a>
			<a href="/event/" class="topmenu-links w3-btn w3-round-small" style="text-decoration: none;">Event</a>
			<a href="/home/" class="topmenu-links w3-btn w3-round-small" style="text-decoration: none;">Home</a>
			<a href="/accounts/logout/" class="topmenu-links w3-btn w3-round-small" style="text-decoration: none;">Logout</a>			
		</div>
		<script>
		function myFunction() {
			var x = document.getElementById("Dropclick");
			if (x.className.indexOf("w3-show") == -1) { 
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
		</script> 
		{% endif %}
        {% endblock topbar %}
		<div id="content" style="margin: 0; padding: 0;">
		{% block content %}
		{% endblock content %}
		</div><br><br>
		<div class="bottom-border-tomato"></div>
		<div class="w3-margin-left w3-margin-right w3-padding w3-small" style="text-align:right;"><b class="googlemaps ratings">Beer data by BreweryDB</b></div><br>
    </body>

</html>