{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading">Create New Crowd</div>
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		{% for field in form.visible_fields %}
		<div class="w3-margin-right w3-margin-left" style="color: snow; background-color: tomato; padding-right: 2%; margin-top: .5%;"><b>{{ field.errors }}</b></div>
		{% endfor %}
		<h3 class="w3-center beerheading">New Crowd Setup</h3>
		<div class="w3-center w3-padding-bottom">
		<form method="post" action="" class="">
			<div class="homebeer">
				<div class="w3-padding-bottom w3-container content-base"><div class="manage-descriptor" style="text-align:center;">Description</div><div class="content-3" style="text-align:center;">{{ form.bio }}</div></div>
				<div class="w3-padding-bottom w3-container content-base"><div class="manage-descriptor" style="text-align:center;">Name</div><div class="content-3" style="text-align:center;">{{ form.name }}</div></div>
				<div class="w3-padding-bottom w3-container content-base"><div class="manage-descriptor" style="text-align:center;">City</div><div class="content-3" style="text-align:center;">{{ form.city }}</div></div>
				<div class="w3-padding-bottom w3-container content-base"><div class="manage-descriptor" style="text-align:center;">State</div><div class="content-3" style="text-align:center;">{{ form.state }}</div></div>
				<div class="w3-padding-bottom w3-container content-base"><div class="manage-descriptor" style="text-align:center;">Established</div><div class="content-3" style="text-align:center;">{{ form.established }}</div><div><i style="color: tomato; font-size: .7em;">Format: 03/05/2017</i></div></div>
				<div class="w3-padding-bottom w3-container content-base"><div class="manage-descriptor" style="text-align:center;">Annual Fee ($)</div><div class="content-3" style="text-align:center;">{{ form.annual_fee }}</div></div>
				<div class="w3-padding-bottom w3-container content-base"><div class="manage-descriptor" style="text-align:center;">Crowd is public</div><div class="content-3" style="text-align:center;">{{ form.is_public }}</div></div>
				{% csrf_token %}
			</div>
		<div class="w3-padding-top"><input type="submit" value="Create"/></div>
		</form>
		</div><br>
		<div><a class="gobacklink w3-padding" href="/club/">Back to My Crowds</a></div>
	</div>
</div>
{% endblock content %}
