{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container">
		<h3 class="w3-center" style="font-weight: bold;">Manage {{ crowd }} <span class="w3-tiny"><a class="topmenu-announcement" href="/club/{{ crowd.id }}/manage/">manage</a></span></h3>
	</div>
	<h3 class="w3-center beerheading">Announcements</h3>
		{% if crowd_announcement_check %}
		<form method="post" action="" class="">
		{{ formset.management_form }}
		{% for form in formset %}
		<div class="homebeer content-base">
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<div class="w3-container w3-padding-bottom"><div class="w3-padding-right content-1-profile" style="text-align:center;"></div><div class="content-3" style="text-align:center;">{{ form.announcement }}</div></div>
		<div class="w3-padding-bottom w3-container"><div class="w3-padding-right content-1-profile" style="text-align:center;">Active</div><div class="content-3" style="text-align:center;">{{ form.is_active }}</div></div>
		<div class="w3-padding-bottom w3-container"><div class="w3-padding-right content-1-profile" style="text-align:center;">Announcement Date</div><div class="content-3" style="text-align:center;">{{ form.date_added }}</div></div>
		{% csrf_token %}
		</div>
		{% endfor %}
		{% endif %}
		<br><input type="submit" value="Update / Add"/>
		</form>
	<div class="w3-padding-top w3-margin-top"><a class="w3-padding" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
</div>
{% endblock content %}
