{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container">
		<h3 class="w3-animate-left w3-center"><b>{{ crowd.name }}</b></h3>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">announcements</h3>
				{% if crowd_announcement_check %}
				{% for announcement in crowd_announcement %}
				<div class="homebeer w3-padding-top">
					<div class="content-base">
						<div class="content-wrapper"><b class="club-content-b">{{ announcement.date_added|date:'n/j/y'|lower }}: </b><span class="club-content-span">{{ announcement.announcement }}</span></div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<div>No announcement yet...</div>
				{% endif %}
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">about</h3>
			<div class="homebeer w3-padding-top">
				<div class="content-base">			
					<div class="content-1"><b class="club-content-b">Location: </b><span class="club-content-span">{{ crowd.city }}, {{ crowd.state }}</span></div>
					{% if crowd.is_public %}
					<div class="content-1"><b class="club-content-b">Status: </b><span class="club-content-span">Applications open to public</span></div>
					{% else %}
					<div class="content-1"><b class="club-content-b">Status: </b><span class="club-content-span">Must receive an invite to apply</span></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>	
	<div class="w3-container w3-padding">
			<div class="w3-cell w3-half w3-left w3-padding-bottom">
				<h3 class="beerheading">membership</h3>
					<div class="homebeer w3-padding-top">
						<div class="">
							<div>					
							{% if club_user_check %}
							{% for member in club_user %}
							<div class="w3-padding-top content-base club-content-span"><a href="/home/tasters/{{ member.user.id }}/">{{ member.user.username }}</a> ({{ member.user.first_name }} {{ member.user.last_name }})</div>
							{% endfor %}
							{% else %}
							<p>No current members</p>
							{% endif %}
							</div>
						</div>
					</div>
			</div>
			<div class="w3-cell w3-half w3-right w3-padding-bottom">
				<h3 class="beerheading">events</h3>
				<div class="homebeer w3-padding-top">
						{% if club_event_check %}
						{% for event in club_event %}
						{% if event.event.is_active %}
						<div class="content-base">
							<div class="content-1"><a href="/event/{{ event.id }}/">{{ event.event.event_name }}</a></div>
							<div class="content-3">{{ event.event.address }}</div>
							<div class="content-2">{{ event.event.event_date|date:'n/j/y g:i A'|lower }}</div>
						</div>
						{% endif %}
						{% endfor %}
						{% else %}
						<div class="content-2">This crowd has no upcoming or previous events</div>
						{% endif %}
				</div>
			</div>
		</div>	


	<div class="w3-padding-bottom">
		<div class="w3-center w3-padding">
			<div class="w3-center">
				<h3 class="beerheading">Top Beers</h3>
				<div class="w3-center homebeer w3-padding-top w3-padding-bottom">Top 10 beers?</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
