{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-center topmenu-margin">
		<div class="content-base">
			<h3 class="w3-center topheading">{{ crowd.name }}
			{% if club_admin_check %}
				<span class="w3-tiny"><a class="" href="manage/">manage</a></span>
			{% endif %}
			</h3>
			<div class="topcontent w3-padding-bottom w3-padding-top" style="{% if request.session.is_mobile %}text-align: left; padding-left: 3.5%; padding-right: 2%;{% elif crowd.bio|length > 225 %}text-align: left;{% endif %}">{{ crowd.bio }}</div>
			{% if not club_db_user_check and not club_application_pending_check %}
			<div class="w3-padding-top">
				<form name="applyForm" class="w3-center" method="Post">
				<button class="removesubmit" name="apply" value="" type="submit"><a class="w3-center w3-small">Apply For Membership</a></button>
				{% csrf_token %}
				</form>
			</div>
			{% endif %}
			{% if club_application_pending_check %}
			<div class="w3-small">Your Application Is Pending</div>
			{% endif %}
			{% if club_admin_check and club_admin_pending_check %}
			<div class="w3-small"><a href='manage/membership/'>Applications Currently Pending</a></div>
			{% endif %}
		</div>
	</div>
	<div class="w3-padding-bottom topmenu-margin">
		{% if club_admin_check %}
		<div class="beerheading-nomargin">Announcements
			<span><a class="w3-right managetool w3-small" href='manage/announcement/'><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
			<span><a class="w3-left managetool w3-small" href='manage/announcement/new/'><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></span>
		</div>
		{% endif %}
			<div class="">
			{% if crowd_announcement_check %}
			{% for announcement in crowd_announcement %}
			{% if announcement.is_active %}
				<div class="topmenu-announcement">{{ announcement.date_added|date:'F d, Y' }}
					{% if club_admin_check %}
					<span><a class="w3-right managetooltomato" href='manage/announcement/{{ announcement.id }}/'><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
					<span class="managetooltomato">
						<form name="removeannouncementForm" class="w3-left managetooltomato" method="Post">
						<button class="removesubmitannouncement" name="removeannouncement" value="{{ announcement.id }}" type="submit"><i class="removesubmitannouncement fa fa-times" aria-hidden="true"></i></button>
						{% csrf_token %}
						</form>
					</span>
					{% endif %}
				</div>
				<div class="">
					<div class="topcontent w3-padding" style="text-align: left;">{{ announcement.announcement }}</div>
				</div>
			{% endif %}
			{% endfor %}
			{% else %}
			<div class="content-base emptycontent">There are not currently any announcements</div>
			{% endif %}
			</div>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">About
				{% if club_admin_check %}
				<span><a class="w3-right managetool" href='manage/about/'><i class="fa fa-pencil" style="padding-right: 2px;" aria-hidden="true"></i></a></span>
				<span><a class="w3-left managetool"><i class="fa fa-pencil" style="padding-left: 2px; color: #1569C7;" aria-hidden="true"></i></a></span>
				{% endif %}			
			</h3>
			<div class="homebeer w3-padding-top">
				<div class="content-base-nobold content-3"><b>Established:</b> {{ crowd.established }}</div>				
				<div class="content-base-nobold content-3"><b>Location:</b> {{ crowd.city }}, {{ crowd.state }}</div>
				{% if crowd.is_public %}
				<div class="content-base-nobold content-3"><b>Applications open to the public</b></div>
				{% else %}
				<div class="content-base-nobold content-3">Invitations by email only</div>
				{% endif %}
				<div class="content-base-nobold content-1-nm content-3"><b>Annual Membership Fee:</b> ${{ crowd.annual_fee }}</div>
				<div class="content-base-nobold content-1-nm content-3"><b>Aministered by </b>
				{% for admin in club_admin %}
				<span><a class="" href="/home/tasters/{{ admin.user.id }}/">{{ admin.user.username }} {% if not forloop.last %},{% endif %}</span></a>
				{% endfor %}					
				</div>
				{% if crowd.disp_members == True %}
				<div class="w3-padding-right w3-margin-left content-base-nobold content-1-nm content-3"><b>Membership</b><br>			
				{% if club_user_check %}
				{% for member in club_user %}
				<span class="w3-padding-top"><a class="" href="/home/tasters/{{ member.user.id }}/">{{ member.user.username }}{% if not forloop.last %},{% endif %}</a></span>
				{% endfor %}
				{% else %}
				<div class="content-base emptycontent">No current members</div>
				{% endif %}
				</div>
				{% endif %}				
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">Events
			{% if club_admin_check %}
			<span><a class="w3-left managetool" href='manage/event/addevent/'><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></span>
			<span><a class="w3-right managetool" href='manage/event/'><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
			{% endif %}			
			</h3>
			<div class="homebeer w3-padding-top">
					{% if club_event_check %}
					{% for event in club_event %}
					{% if event.event.is_active %}

					<div class="content-base">
						<div class="content-1"><a href="/event/{{ event.event.id }}/">{{ event.event.event_name }}</a></div>
						<div class="content-3">{{ event.event.address }}</div>
						<div class="content-2-nobold">{{ event.event.event_date|date:'n/j/y g:i A'|lower }}</div>
					</div>
					{% endif %}
					{% endfor %}
					{% else %}
					<div class="content-base emptycontent">There are no events scheduled at this time</div>
					{% endif %}
			</div>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">Top Beers <span class="w3-tiny">({{ crowd.display_member_vote }}+ members)</span>
			{% if club_admin_check %}
				<span><a class="w3-right managetool" href='manage/display/'><i class="fa fa-pencil" style="padding-right: 2px;" aria-hidden="true"></i></a></span>
				<span><a class="w3-left managetool"><i class="fa fa-pencil" style="padding-left: 2px; color: #1569C7;" aria-hidden="true"></i></a></span>
			{% endif %}			
			</h3>
			<div class="homebeer">
				<div class="">
					<div class="">					
					{% for cs in club_scores %}
					{% if cs.count >= crowd.display_member_vote %}
					<div class="content-base {% if request.session.is_mobile %}mobile-text{% endif %}"><div class="content-1"><a class="" href="/home/findbeer/{{ cs.bdb_id }}/">{{ cs.beer_name }}</a><span class="content-3"> {{ cs.beer_company }} <span style="color: tomato; font-weight: heavy;">{{ cs.average }} ({{ cs.count }})</span></span></div></div>
					{% endif %}
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">Wanted Beers <span class="w3-tiny">({{ crowd.display_wanted_beer }}+ members)</span>
			{% if club_admin_check %}
				<span><a class="w3-right managetool" href='manage/display/'><i class="fa fa-pencil" style="padding-right: 2px;" aria-hidden="true"></i></a></span>
				<span><a class="w3-left managetool"><i class="fa fa-pencil" style="padding-left: 2px; color: #1569C7;" aria-hidden="true"></i></a></span>
			{% endif %}			
			</h3>
			<div class="homebeer">
				<div class="">
					<div class="">					
					{% for wb in club_wanted_beers %}
					{% if wb.count >= crowd.display_wanted_beer %}
					<div class="content-base {% if request.session.is_mobile %}mobile-text{% endif %}"><div class="content-1"><a class="" href="/home/findbeer/{{ wb.bdb_id }}/">{{ wb.beer_name }}</a></span><span class="content-3"> {{ wb.beer_company }} <span style="color:tomato;">({{ wb.count }})</span></span></div></div>
					{% endif %}
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
