{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading" style="text-align: center;">Manage {{ crowd }}</div>
		</div>
	</div>
		<form method="post" action="" class="">
		<h3 class="w3-center beerheading">Display Options</h3>
		<div class="homebeer">
			<div class="w3-padding-bottom w3-container content-base"><div class="w3-padding-right w3-padding-bottom content-1-profile manage-descriptor" style="text-align:center;">Display Active Members?</div><div class="content-3" style="text-align:center;">{{ form.disp_members }}</div></div>
			<div class="w3-padding-bottom w3-container content-base"><div class="w3-padding-right w3-padding-bottom content-1-profile manage-descriptor" style="text-align:center;">Require at least this many members to have scored a beer before displaying</div><div class="content-3" style="text-align:center;">{{ form.display_member_vote }}</div></div>
			<div class="w3-padding-bottom w3-container content-base"><div class="w3-padding-right w3-padding-bottom content-1-profile manage-descriptor" style="text-align:center;">Require at least this many members to have wanted a beer before displaying</div><div class="content-3" style="text-align:center;">{{ form.display_wanted_beer }}</div></div>
		</div>
		<h3 class="w3-center beerheading">Crowd Options</h3>
		<div class="homebeer">
			<div class="w3-padding-bottom w3-container content-base"><div class="w3-padding-right w3-padding-bottom content-1-profile manage-descriptor" style="text-align:center;">Auto Approve Member Applications</div><div class="content-3" style="text-align:center;">{{ form.auto_approve }}</div></div>
			<div class="w3-padding-bottom w3-container content-base"><div class="w3-padding-right w3-padding-bottom content-1-profile manage-descriptor" style="text-align:center;">Require Real Member Names</div><div class="content-3" style="text-align:center;">{{ form.require_real_name }}</div></div>
		</div>
		{% csrf_token %}
		<br><input type="submit" value="Update Options"/>
		</form>
	<br>
	<div><a class="w3-padding gobacklink" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
</div>
{% endblock content %}
