{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="topmenu-margin w3-center">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading" style="text-align: center;">Manage {{ crowd.name }}</div>
			<div class="topcontent"><a class="w3-padding-right gobacklink" href="addevent/">Add event </a>|<a class="gobacklink w3-padding-left"href="address/"> Edit address</a></div>
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		<h3 class="w3-center beerheading">Active Events</h3>
		<div class="w3-center homebeer">
			{% for event in club_event %}
			{% if event.event.is_active %}
			<div class="w3-padding-top content-base"><a href="/event/{{ event.event.id }}/manage/">{{ event.event.event_name }}</a> <span class="" style="font-size: 80%;">({{ event.event.event_date|date:'n/j/y' }})</span></div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		<h3 class="w3-center beerheading">Inactive Events</h3>
		<div class="w3-center homebeer">
			{% for event in club_event %}
			{% if not event.event.is_active %}
			<div class="w3-padding-top content-base"><a href="/event/{{ event.event.id }}/manage/">{{ event.event.event_name }}</a> <span class="" style="font-size: 80%;">({{ event.event.event_date|date:'n/j/y' }})</span></div>
			{% endif %}
			{% endfor %}
		</div><br>
		<div><a class="w3-padding gobacklink" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
	</div>
</div>
{% endblock content %}
