{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container">
		<h3 class="w3-center" style="font-weight: bold;">{{ crowd.name }} <span class="w3-tiny"><a class="topmenu-manage" href="/club/{{ crowd.id }}/manage/">manage</a></span></h3>
	</div>
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;"><a href="addevent/">Add a new event</a>
			</div>
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		<h3 class="w3-center beerheading">Manage Events</h3>
		<div class="w3-center w3-padding-bottom homebeer">
			{% for event in club_event %}
			<div class="w3-padding-top content-base"><a href="/event/{{ event.event.id }}/manage/">{{ event.event.event_name }}</a></div>
			{% endfor %}
		</div><br>
		<div><a class="w3-padding" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
	</div>
</div>
{% endblock content %}
