{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="topmenu-margin w3-center">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading" style="{% if request.session.is_mobile %}font-size: 120%;{% else %}font-size: 135%;{% endif %}"><a class="w3-center w3-padding-right gobacklink"  href="/club/search/">Find a Crowd</a>|<a class="w3-padding-left gobacklink" href="/club/add/">Create a Crowd</a></div>
		</div>
	</div>
	<h3 class="w3-center beerheading">My Crowds</h3>
	<div class="w3-center w3-padding-bottom">
		{% if club_user_check %}
		<div class="w3-center homebeer">
		{% for club in clubs %}
		<div class="content-base w3-padding-top w3-padding-bottom"><a class="eventaddress" href="/club/{{ club.club.id }}/">{{ club.club.name }}</a></div>
		{% endfor %}
		</div>
		{% else %}
		<div class="w3-center homebeer">
			<div class="content-base w3-padding-top w3-padding-bottom">You are in need of a crowd.  Try finding or creating one above.</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
