{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container w3-padding-bottom w3-card">
		<h3 class="w3-center w3-text-white" style="text-shadow:0px 1px 0 #444; font-variant: small-caps; font-weight: bold;">Manage {{ crowd }}</h3>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		<h3 class="w3-center beerheading">Managed Sections</h3>
		<div class="w3-center w3-padding-bottom homebeer">
			<div class="w3-padding-top content-base"><a href="announcement/">Announcements</a></div>
			<div class="w3-padding-top content-base"><a href="about/">About</a></div>
			<div class="w3-padding-top content-base"><a href="membership/">Membership</a></div>
			<div class="w3-padding-top content-base"><a href="event/">Events</a></div>
		</div><br>
		<div><a class="w3-padding" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
	</div>
</div>
{% endblock content %}
