{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;">Manage {{ crowd }}
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		<h3 class="w3-center beerheading">Managed Crowd Sections</h3>
		<div class="w3-center homebeer">
			<div class="w3-padding-top content-base"><a href="announcement/">Announcements</a></div>
			<div class="w3-padding-top content-base"><a href="about/">About</a></div>
			<div class="w3-padding-top content-base"><a href="display/">Display Options</a></div>
			<div class="w3-padding-top content-base"><a href="membership/">Membership</a></div>
			<div class="w3-padding-top content-base"><a href="event/">Events</a></div>
			<div class="w3-padding-top content-base"><a href="event/address/">Address</a></div>
		</div><br>
		<div><a class="w3-padding" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
	</div>
</div>
{% endblock content %}
