{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container">
		<h3 class="w3-center" style="font-weight: bold;">Manage {{ crowd }} <span class="w3-tiny"><a class="topmenu-announcement" href="/club/{{ crowd.id }}/manage/">manage</a></span></h3>
	</div>
	<h3 class="w3-center beerheading">Membership</h3>
	<div class="w3-container w3-padding-bottomm homebeer">
		<div class="w3-center w3-huge content-1 w3-padding">
		TEST
		</div>
	</div>
	<div><a class="topmenu-announcement w3-padding" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
</div>
{% endblock content %}
