{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;">You may set a member to inactive or active.  You may also add or remove aministrator level privileges.</div>
		</div>
	</div>
	{% if club_pending_user_check %}
	<h3 class="w3-center beerheading">Pending Membership</h3>
	<div class="homebeer w3-padding-top">
		<div class="">
			<div class="">					
			{% for member in club_pending_user %}
			{% if member.status == "pending" %}
				<div class="content-base ">
					<form name="membershipForm" class="w3-center" method="Post">
					<div class="club-content-span w3-padding-bottom w3-padding-top" style="font-size: 90%;">{% if member.user.first_name %}{{ member.user.first_name }} {{ member.user.last_name }} {% endif %}(<a href="/home/tasters/{{ member.user.id }}/">{{ member.user.username }}</a>)</div>
					<button class="removesubmit w3-padding-right" name="acceptpending" value="{{ member.user.id }}" type="submit"><a class="w3-center w3-tiny">Accept Membership</a></button>
					<button class="removesubmit w3-padding-left" name="rejectpending" value="{{ member.user.id }}" type="submit"><a class="w3-center w3-tiny">Reject Membership</a></button>
					{% csrf_token %}
					</form>
				</div>
			{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	<h3 class="w3-center beerheading">Active Membership</h3>
	<div class="homebeer w3-padding-top">
		<div class="">
			<div class="">					
			{% if club_user_check %}
			{% for member in club_user %}
			{% if member.is_active %}
			<div class="content-base">
				<form name="membershipForm" class="w3-center" method="Post">
				<div class="club-content-span w3-padding-bottom w3-padding-top" style="font-size: 90%; font-weight: bold;">{% if member.user.first_name %}{{ member.user.first_name }} {{ member.user.last_name }} {% endif %}(<a href="/home/tasters/{{ member.user.id }}/">{{ member.user.username }}</a>){% if member.is_admin %}<div class="homebeer w3-small"><b>administrator</b></div>{% endif %}</div>
				{% if member.user != user_object %}
				<button class="removesubmit w3-padding-right" name="inactivate" value="{{ member.id }}" type="submit"><a class="w3-center w3-tiny">Set Inactive</a></button> |
				{% endif %}
				{% if member.is_admin %}
				{% if member.user != user_object %}
				<button class="removesubmit w3-padding-left" name="removeadmin" value="{{ member.id }}" type="submit"><a class="w3-center w3-tiny">Remove Admin</a></button>				
				{% endif %}
				{% else %}
				<button class="removesubmit w3-padding-left" name="addadmin" value="{{ member.id }}" type="submit"><a class="w3-center w3-tiny">Add Admin</a></button>
				{% endif %}
				{% csrf_token %}
				</form>
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
	</div><br>
	<h3 class="w3-center beerheading">Inactive Membership</h3>
	{% if club_inactive_user_check %}
	<div class="homebeer w3-padding-top">
		<div class="">
			<div class="">					
			{% if club_user_check %}
			{% for member in club_user %}
			{% if member.is_active == False %}
			<div class="content-base">
				<div class="w3-padding-top club-content-span" style="font-size: 90%; font-weight: bold;">{% if member.user.first_name %}{{ member.user.first_name }} {{ member.user.last_name }}{% endif %} (<a href="/home/tasters/{{ member.user.id }}/">{{ member.user.username }}</a>)</div>
				<form name="membershipForm" class="w3-center" method="Post">
				<button class="removesubmit" name="setactive" value="{{ member.id }}" type="submit"><a class="w3-right w3-tiny">Set to Active</a></button>
				{% csrf_token %}
				</form>		
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
	</div>
	{% else %}
	<div class="homebeer w3-padding-top content-base w3-padding-bottom">There are no inactive users.</div>
	{% endif %}
	<br><br>
	<div class="w3-center"><a class="" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
</div>
{% endblock content %}
