{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container">
		<h3 class="w3-center" style="font-weight: bold;">Manage {{ crowd }} <span class="w3-tiny"><a class="topmenu-announcement" href="/club/{{ crowd.id }}/manage/">manage</a></span></h3>
	</div>
	<h3 class="w3-center beerheading">Active Membership</h3>
	<div class="homebeer w3-padding-top">
		<div class="">
			<div class="">					
			{% if club_user_check %}
			{% for member in club_user %}
			{% if member.is_active %}
			<div class="w3-padding-top w3-padding-bottom content-base club-content-span" style="font-size: 90%;">{% if member.user.first_name %}{{ member.user.first_name }} {{ member.user.last_name }}<br>{% endif %}<a href="/home/tasters/{{ member.user.id }}/">{{ member.user.username }}</a></div>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
	</div><br>
	<h3 class="w3-center beerheading">Inactive Membership</h3>
	<div class="homebeer w3-padding-top">
		<div class="">
			<div class="">					
			{% if club_user_check %}
			{% for member in club_user %}
			{% if member.is_active == False %}
			<div class="w3-padding-top content-base club-content-span" style="font-size: 90%;">{% if member.user.first_name %}{{ member.user.first_name }} {{ member.user.last_name }}<br>{% endif %}<a href="/home/tasters/{{ member.user.id }}/">{{ member.user.username }}</a></div>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
	</div><br>
	<div><a class="topmenu-announcement w3-padding" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
</div>
{% endblock content %}
