{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="topmenu-margin w3-center">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading" style="text-align: center;">Manage {{ crowd.name }}</div>
			<div class="topcontent w3-padding-bottom w3-padding-top" style="text-align: center;">Add a new address</div>
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		{% for field in form.visible_fields %}
		<div class="w3-margin-right w3-margin-left" style="color: snow; background-color: tomato; padding-right: 2%; margin-top: .5%;"><b>{{ field.errors }}</b></div>
		{% endfor %}
		<h3 class="w3-center beerheading">Add Address</h3>
			<form method="post" action="" class="">
			<div class="homebeer">
			<div class="w3-container content-base"><div class="manage-descriptor">Address Name</div><div class="content-3" style="text-align:center;">{{ form.description }}</div></div>
			<div class="w3-container content-base"><div class="manage-descriptor">Address</div><div class="content-3" style="text-align:center;">{{ form.address_1 }}</div></div>
			<div class="w3-container content-base"><div class="manage-descriptor">City</div><div class="content-3" style="text-align:center;">{{ form.city }}</div></div>
			<div class="w3-container content-base"><div class="manage-descriptor">State</div><div class="content-3" style="text-align:center;">{{ form.state }}</div></div>
			<div class="w3-container content-base"><div class="manage-descriptor">Zip Code</div><div class="content-3" style="text-align:center;">{{ form.zip_code }}</div></div>
			{% csrf_token %}
			</div>
			<br><input type="submit" value="Add Address"/>
			</form>
	</div>
	<br>
	<div><a class="w3-padding gobacklink" href="/club/{{ crowd.id }}/">Back to Crowd</a></div>
</div>{{ test }}
{% endblock content %}
