{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container w3-padding-bottom w3-card">
		<h3 class="w3-center w3-text-white" style="text-shadow:0px 1px 0 #444; font-variant: small-caps; font-weight: bold;">Find Crowds</h3>
	</div>
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;">Find your type of crowd below</div>
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		<h3 class="w3-center beerheading">Crowds</h3>
		<div class="w3-center w3-padding-bottom homebeer">
		{% regroup public_crowds by state as crowd_state %}
		{% for crowd in crowd_state %}
			<div class="w3-padding-top topmenu-announcement">{{ crowd.grouper }}</div>
			{% for club in crowd.list %}
				<div class="content-base w3-small"><a href="/club/{{ club.id }}/">{{ club.name }}</a> ({{ club.city }})</div>
			{% endfor %}
		{% endfor %}
		</div><br>
		<div><a class="w3-padding" href="/club/">Back to My Crowds</a></div>
	</div>
</div>
{% endblock content %}
