{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load home_extras %}

<div class="w3-mobile w3-center">
	<div class="topmenu-margin w3-center">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading">Crowds By State</div>
		</div>
	</div>
	<div class="w3-container w3-margin w3-padding-bottom">
		<div class="w3-center homebeer">
		{% regroup public_crowds by state as crowd_state %} 
		{% for crowd in crowd_state %}
			<div class="state_group " {% if request.session.is_mobile %}style="text-align: center;" {% else %}style="text-align: left;"{% endif %}>{{ state_index|key:crowd.grouper }}</div>
			{% for club in crowd.list %}
				<div class="content-base {% if request.session.is_mobile %}w3-small{% endif %}"><a class="" href="/club/{{ club.id }}/">{{ club.name }}</a> <span class="beerstatslabel">{{ club.city }}</span></div>
			{% endfor %}
		{% endfor %}
		</div><br><br>
		<div><a class="w3-padding" href="/club/">Back to My Crowds</a></div>
	</div>
</div>
{% endblock content %}
