dj-database-url==0.4.2
Django==1.10.5
django-allauth==0.31.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-localflavor==1.5
python-decouple==3.1
requests==2.13.0
requests-oauthlib==0.8.0
tweepy==3.5.0