{% extends "base.html" %}

{% block title %}Welcome!!{% endblock title %}

{% block content %}
<div class="w3-mobile w3-center">
	<div class="w3-beer">
	    <h1>The OK Beer Taster</h1>
	</div>
	<div class="w3-padding-8">
	<li style="list-style:none;"><a href="/home/" class="w3-hover-opacity w3-hover-yellow">I am already an OK Beer Taster</a></li>
	</div>
	<div class="w3-padding-8">
	<li style="list-style:none;"><a href="/signup/" class="w3-hover-opacity w3-hover-yellow">I want to be an OK Beer Taster</a></li>
	</div>
	<div class="w3-padding-8">
	<li style="list-style:none;"><a href="/about/" class="w3-hover-opacity w3-hover-yellow">Please explain OK Beer Taster</a></li>
	</div>
</div>
{% endblock content %}
