{% extends "base.html" %}

{% block title %}Welcome!!{% endblock title %}

{% block content %}
<div class="w3-mobile w3-center">
	<div class="w3-beer">
	    <h1 class="w3-animate-left" style="text-shadow:1px 1px 0 #444">The Beer Crowd!</h1>
	</div>
	<div class="w3-padding-bottom">
	<div class="w3-padding-8">
	<li style="list-style:none;"><a href="/home/" class="w3-hover-opacity w3-hover-yellow">I Already Have a Login</a></li>
	</div>
	<div class="w3-padding-8">
	<li style="list-style:none;"><a href="accounts/signup/" class="w3-hover-opacity w3-hover-yellow">Register for an Account</a></li>
	</div>
	</div>
</div>
{% endblock content %}
