{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container w3-border w3-padding-bottom">
		<h3 class="w3-animate-left w3-text-white" style="text-shadow:1px 2px 0 #444;">I'm Bringing {{ data.name }}!</h3>
	</div>
	<div class="w3-container w3-padding w3-margin-left w3-margin-right">
		<div class="w3-center w3-padding-bottom">
			<h5 class="w3-padding">Which event are you bringing this tasty beer to?</h5>
			<div class="homebeer">
			<form name="beereventForm" class="w3-center" method="Post">
			{% for event in events %}
			{% if event.is_active == True %}
			<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="{{ event.id }}" value="y" type="submit">{{ event.event_name }}</button>
			{% endif %}
			{% endfor %}
			{% csrf_token %}	
			</form>
			</div>
		</div>
	</div>
	<br>

</div>
{% endblock content %}
