{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% load home_extras %}
<div class="w3-mobile w3-center">
	<div class="content-base topmenu-margin">
		<div class="topheading">{{ data.name }} by {% if brewery.nameShortDisplay %}<a href="/home/brewery/{{ brewery.id }}/" style="color: tomato;"><u>{{ brewery.nameShortDisplay }}</u></a>{% else %}<a href="/home/brewery/{{ brewery.id }}/" style="color: tomato;"><u>{{ brewery.name }}</u></a>{% endif %}</div>
			<form name="ratingForm" method="Post">
				{% if rating.is_active %}
				<button class="removesubmit" style="{% if request.session.is_mobile == False %}vertical-align: 7.25%;{% else %}vertical-align: -1px;{% endif %}color: #1569C7; background-color: snow; padding-right: 7px; {% if request.session.is_mobile %}font-size: 150%;{% else %}font-size: 105%;{% endif %}" title="Remove Score" value="inactivate" type="submit" name="assignratings"><i class="fa fa-ban" aria-hidden="true"></i></button>
				{% endif %}
				<button class="removesubmit" title="1" value="1" type="submit" name="assignratings">{% if rating.score > 0 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="2" value="2" type="submit" name="assignratings">{% if rating.score > 1 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="3" value="3" type="submit" name="assignratings">{% if rating.score > 2 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="4" value="4" type="submit" name="assignratings">{% if rating.score > 3 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="5" value="5" type="submit" name="assignratings">{% if rating.score > 4 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="6" value="6" type="submit" name="assignratings">{% if rating.score > 5 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="7" value="7" type="submit" name="assignratings">{% if rating.score > 6 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="8" value="8" type="submit" name="assignratings">{% if rating.score > 7 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="9" value="9" type="submit" name="assignratings">{% if rating.score > 8 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				<button class="removesubmit" title="10" value="10" type="submit" name="assignratings">{% if rating.score > 9 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
				{% csrf_token %}
			</form>
			{% for attr in ps_attribute %}
			{% if 23 in attr %}<span><svg class="icon-beer"><use xlink:href="#beststyle" /></svg></span>{% endif %}
			{% if 96 in attr %}<span><svg class="icon-beer"><use xlink:href="#crowdpleaser" /></svg></span>{% endif %}
			{% if 174 in attr %}<span><svg class="icon-beer"><use xlink:href="#localhero" /></svg></span>{% endif %}
			{% if 112 in attr %}<span><svg class="icon-beer"><use xlink:href="#sessionable" /></svg></span>{% endif %}
			{% if 246 in attr %}<span><svg class="icon-beer"><use xlink:href="#seasonal" /></svg></span>{% endif %}
			{% if 293 in attr %}<span><svg class="icon-beer"><use xlink:href="#whale" /></svg></span>{% endif %}
			{% endfor %}
		{% if data.description %}
		{% if data.description|length < 225 %}
		<div class="w3-padding-left w3-padding-right w3-margin-bottom topcontent" style="text-align: center; font-size: 100%;">{{ data.description }}</div>
		{% else %}
		<div class="w3-padding-left w3-padding-right w3-margin-bottom topcontent" style="text-align: left; font-size: 100%;">{{ data.description }}</div>
		{% endif %}
		{% endif %}
		<form name="beerForm" class="w3-center w3-padding-bottom" method="Post">
		{% if fav_beer_check %}
			{% if fav_beer.is_active %}
		<button title="Remove from Favorites" class="" name="removefav" value="y" type="submit"><i class="fa fa-minus w3-tiny" aria-hidden="true"></i><i class="fa fa-star fafaspace" aria-hidden="true"></i>
</button>
			{% else %}
		<button title="Add to Favorites" class=""  name="activatefav" value="y" type="submit"><i class="fa fa-star" aria-hidden="true"></i></button>			
			{% endif %}
		{% else %}
		<button title="Add to Favorites" class=""  name="fav" value="y" type="submit"><i class="fa fa-star" aria-hidden="true"></i></button>
		{% endif %}
		{% if want_beer_check %}
			{% if want_beer.is_active %}
		<button title="Remove from Wanted" class=""  name="removewant" value="y" type="submit"><i class="fa fa-minus w3-tiny" aria-hidden="true"></i><i class="fa fa-shopping-basket fafaspace" aria-hidden="true"></i>
</button>			
			{% else %}
		<button title="Add to Wanted" class=""  name="activatewant" value="y" type="submit"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
</button>						
			{% endif %}
		{% else %}
		<button title="Add to Wanted" class=""  name="want" value="y" type="submit"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
</button>
		{% endif %}
		<button title="Add to Event" class=""  name="event" value="y" type="submit"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
</button>
		{% csrf_token %}
		</form>
		<div class="w3-small">
			<i class="fa fa-star" aria-hidden="true"></i> Favorite |
			<i class="fa fa-shopping-basket" aria-hidden="true"></i> Wanted |
			<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add to Event
		</div>
	</div>
	{% if attribute_overrall_check == True %}
	<div class="beerstatslabel w3-padding-top w3-padding-bottom">
		<i class="fa fa-quote-left" style="line-height: 1; top: -5px; position: relative;"></i> 
		{% for attribute in ps_attribute_objects %}
		{% if attribute.section.id == 20 %}
		<span style="font-weight: 700; font-size: 120%;">{{ attribute.attribute }}. </span>
		{% endif %}
		{% endfor %}
		<i class="fa fa-quote-right" style="line-height: 1; top: -5px; position: relative;"></i>
	</div>
	{% endif %}
	<div class="w3-container w3-center {% if attribute_overrall_check == True %}{% else %}w3-padding-top w3-margin-top{% endif %}">
		<div class="">
			{% if data.labels.medium %}
			<div id="beerimg" class="" style="background-image: url({{ data.labels.medium }})"></div>
			{% endif %}	
			{% if data.name %}
			<h3 class="beerheading">{{ data.name }}</h3>
			{% endif %}
			<div class="homebeer">
				{% if category.name %}
				<div class="content-base"><span class="beerstatslabel">Category </span><span class="beerstatsvalue">{{ category.name }}</span></div>
				{% endif %}
				{% if style.name %}
				<div class="content-base"><span class="beerstatslabel">Style </span><span class="beerstatsvalue">{{ style.name }}</span></div>
				{% endif %}
				{% if data.srm.hex %}
				<div class="content-base"><span class="beerstatslabel">SRM </span><span class="beerstatsvalue" style="padding-left: 2px; padding-right: 2px;">{{ data.srm.id }}</span><span style="background-color: #{{ data.srm.hex }}; padding-right: 10%;"></span></div>
				{% endif %}
				{% if data.abv %}
				<div class="content-base"><span class="beerstatslabel">ABV </span><span class="beerstatsvalue">{{ data.abv }}%</span></div>
				{% endif %}
				{% if data.ibu %}
				<div class="content-base"><span class="beerstatslabel">IBUs </span><span class="beerstatsvalue">{{ data.ibu }}</span></div>
				{% endif %}
				{% if data.glass.name %}
				<div class="content-base"><span class="beerstatslabel">Glass </span><span class="beerstatsvalue">{{ data.glass.name }}</span></div>
				{% endif %}
				{% if data.foodPairings %}
				<div class="content-base"><span class="beerstatslabel">Food Pairings </span><span class="beerstatsvalue">{{ data.foodPairings }}</span></div>
				{% endif %}
				{% if data.servingTemperatureDisplay %}
				<div class="content-base"><span class="beerstatslabel">Serving Temperature </span><span class="beerstatsvalue">{{ data.servingTemperatureDisplay }}</span></div>
				{% endif %}
				{% if data.available.description %}
				<div class="content-base"><span class="beerstatslabel">Availability </span><span class="beerstatsvalue">{{ data.available.description }}</span></div>
				{% endif %}
				{% if data.ingredients.hops %}
				<div class="content-base"><span class="beerstatslabel">Hops </span><span class="beerstatsvalue">{% for i in data.ingredients.hops %}{{ i.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></div>
				{% endif %}
				{% if data.ingredients.malt %}
				<div class="content-base"><span class="beerstatslabel">Malt </span><span class="beerstatsvalue">{% for i in data.ingredients.malt %}{{ i.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></div>
				{% endif %}
				{% if data.ingredients.yeast %}
				<div class="content-base"><span class="beerstatslabel">Yeast </span><span class="beerstatsvalue">{% for i in data.ingredients.yeast %}{{ i.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></div>
				{% endif %}
			</div>
			{% if brewery.nameShortDisplay %}
			<h3 class="beerheading"><a class="managetool" href="/home/brewery/{{ brewery.id }}/"><u>{{ brewery.nameShortDisplay }}</u></a></h3>
			{% else %}
			<h3 class="beerheading"><a class="managetool" href="/home/brewery/{{ brewery.id }}/"><u>{{ brewery.name }}</u></a></h3>
			{% endif %}
			<div class="homebeer">
				{% if brewery.description %}
				{% if brewery.description|length < 100 %}
				<div class="content-base-nobold topcontent" style="text-align: center; font-size: 90%;">{{ brewery.description }}</div>
				{% else %}
				<div class="content-base-nobold topcontent" style="text-align: left; font-size: 90%;">{{ brewery.description }}</div>
				{% endif %}
				{% endif %}
				<div class="w3-padding-top">
					{% if brewery.brandClassification %}
					<div class="content-base"><span class="beerstatslabel">Classification </span><span class="beerstatsvalue">{{ brewery.brandClassification|title }}</span></div>
					{% endif %}
					{% if brewery.established %}
					<div class="content-base"><span class="beerstatslabel">Established </span><span class="beerstatsvalue">{{ brewery.established }}</span></div>
					{% endif %}
					{% if region %}
					<div class="content-base"><span class="beerstatslabel">Region </span><span class="beerstatsvalue">{{ region }}</span></div>
					{% endif %}
					{% if brewery.website %}
					<div class="content-base"><span class="beerstatsvalue"><a href="{{ brewery.website }}">{{ brewery.website }}</a></span></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left" style="{% if request.session.is_mobile == False %}padding-left: .5%;{% endif %}">
			<h3 class="beerheading w3-padding-left"><a class="managetool w3-margin-left" style="" href="{{ urlprofilesheet }}"><u>Your Profile</u></a>
			<span><a class="w3-right managetool" href='{{ urlprofilesheet }}' style="text-decoration: none;"><i class="fa fa-pencil" style="padding-right: 2px;" aria-hidden="true"></i></a></span>
			</h3>
			{% if beer_attribute_check == False %}
			<div class="homebeer">
				<div class="content-base" style="font-size: 80%;"><a href="{{ urlprofilesheet }}">Add Profile</a></div>
			</div>
			{% else %}
			<div class="homebeer">
			{% regroup ps_attribute_objects by section as attribute_section %}
			{% for attribute in attribute_section %}
				<div class="content-base">
				<span class="beerstatslabel">{{ attribute.grouper.section }} {% if attribute.grouper.category.id == 3 %}Aroma{% elif attribute.grouper.category.id == 4 %}Taste{% endif %}</span>
				{% for a in attribute.list %}
				<span class="beerstatsvalue">{{ a.attribute }}{% if not forloop.last %}, {% endif %}</span>
				{% endfor %}
				</div>
			{% endfor %}
			</div>
			{% endif %}
		</div>
		<div class="w3-cell w3-half w3-right" style="{% if request.session.is_mobile == False %}padding-right: .5%;{% endif %}">
			<h3 class="beerheading">Scores
			</h3>
			<div class="homebeer">
			<div class="content-base"><span class="beerstatslabel">My Score </span><span class="beerstatsvalue">{% if rating.score and rating.is_active %}{{ rating.score }}{% else %}None{% endif %}</span></div>
			<div class="content-base"><span class="beerstatslabel">The Beer Crowd </span><span class="beerstatsvalue">{% if beercrowd_score %}{{ beercrowd_score|floatformat:2 }} ({{ beercrowd_count }}){% else %}None (0){% endif %}</span></div>
			{% for crowdscore in club_score %}<div class="content-base"><span class="beerstatslabel"><a style="color: tomato;" href="/club/{{ crowdscore.3 }}/">{{ crowdscore.0 }}</a> </span><span class="beerstatsvalue">{% if crowdscore.2 > 0 %}<a href="/home/findbeer/{{ bdb_id }}/{{ crowdscore.3 }}/">{% endif %}{{ crowdscore.1|floatformat:2 }} ({{ crowdscore.2 }}){% if crowdscore.2 > 0 %}</a>{% endif %}</span></div>{% endfor %}
			</div>
		</div>
	</div>
	<div class="w3-padding-top w3-padding-bottom w3-margin-left w3-margin-right">
		<h3 class="beerheading">Notes</h3>
		<div class="homebeer">
		{% for note in beer_notes %}
		{% if note.is_active == True %}
			<div class="content-base">
				<div class="w3-padding-top w3-padding topcontent" style="text-align: left;">{{ note.note }}</div>
				<div class="w3-center w3-small w3-padding-left w3-padding-bottom">{{ note.date_added }}<span class="w3-right"><a href="/home/notes/{{ note.id }}/" class="w3-padding-right">Edit</a></span></div>
			</div>
		{% endif %}
		{% endfor %}
		</div>
		<div class="w3-padding-top w3-margin-top">
			<form name="beernoteForm" class="w3-center" method="Post">
			<div class="w3-padding-bottom w3-padding-left w3-padding-right"><textarea type="textarea" name="beernotevalue" id="beernoteinput"></textarea></div>
			<button class="" name="beernote" value="y" type="submit">Add Note</button>
			{% csrf_token %}
			</form>
		</div>
	</div>
</div>
{% endblock content %}
