{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container w3-border">
		<h3 class="w3-animate-left" style="text-shadow:1px 1px 0 #444">{{ data.name }} by {{ brewery.name }}</h3>
	</div>
	<div class="w3-container w3-center">
		<div class="w3-display-container w3-padding-4">
		<h4 class="">{{ style.name }} ({{ data.abv }}% abv)</h4>
		<h5>{{ category.name }}</h5>
		<form name="beerForm" class="w3-center" method="Post">
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="fav" value="y" type="submit">favorite</button>
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="want" value="y" type="submit">want</button>
		{% csrf_token %}
		</form>
		<h3 class="w3-opacity w3-left-align w3-padding-left w3-margin" style="text-shadow:1px 1px 0 #444">The Beer</h3>
		<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" >{{ data.description }}</div>
		</div>
	</div>
	<div class="w3-container w3-padding">
		<div class="w3-center w3-container">
			<img class="w3-card-2 w3-border" src="{{ data.labels.medium }}" style="width:50% max-width:200px">
			<h3 class="w3-opacity w3-left-align w3-padding-left w3-margin" style="text-shadow:1px 1px 0 #444">The Brewery</h3>
			<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" >{{ brewery.description }}</div>
		</div>
	</div>	
</div>
{% endblock content %}
