{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% load ratings %}
<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container w3-border w3-padding-bottom">
		<h3 class="w3-animate-left w3-center w3-text-white" style="text-shadow:0px 1px 0 #444; font-variant: small-caps; font-weight: bold;">{{ data.name }} by {% if brewery.nameShortDisplay %}{{ brewery.nameShortDisplay }}{% else %}{{ brewery.name }}{% endif %}</h3>
	</div>
	<div class="w3-container w3-center">
		<div class="w3-display-container w3-padding-4">
		<form name="beerForm" class="w3-center" method="Post">
		{% if fav_beer_check %}
			{% if fav_beer.is_active %}
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="removefav" value="y" type="submit">not my favorite</button>
			{% else %}
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="activatefav" value="y" type="submit">favorite</button>			
			{% endif %}
		{% else %}
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="fav" value="y" type="submit">favorite</button>
		{% endif %}
		{% if want_beer_check %}
			{% if want_beer.is_active %}
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="removewant" value="y" type="submit">don't want</button>			
			{% else %}
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="activatewant" value="y" type="submit">want</button>						
			{% endif %}
		{% else %}
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="want" value="y" type="submit">want</button>
		{% endif %}
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" name="event" value="y" type="submit">add to event</button>
		{% csrf_token %}
		</form>
		<div class="w3-center w3-padding-top w3-padding-bottom">{% ratings score_beer %}</div>
		{% if data.name %}
		<h3 class="w3-opacity-min w3-left-align w3-padding-left w3-margin w3-text-indigo" style="text-shadow:1px 1px 0 #444">{{ data.name }}</h3>
		{% endif %}
		{% if category.name %}
		<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>The Category:</b> {{ category.name }}</div>
		{% endif %}
		{% if style.name %}
		<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>The Style:</b> {{ style.name }}</div>
		{% endif %}
		{% if data.abv %}
		<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>The Alcohol Content:</b> {{ data.abv }}% abv</div>
		{% endif %}
		{% if data.glass.name %}
		<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>The Glass:</b> {{ data.glass.name }}</div>
		{% endif %}
		{% if data.description %}
		<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>The Beer:</b> {{ data.description }}</div>
		{% endif %}
		{% if data.foodPairings %}
		<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>The Food Pairings:</b> {{ data.foodPairings }}</div>
		{% endif %}
		</div>
	</div>
	<div class="w3-container w3-padding">
		<div class="w3-center">
			<div class="">
			<img class="w3-round" src="{{ data.labels.medium }}" style="width:50% max-width:200px">
			</div>
			{% if brewery.nameShortDisplay %}
			<h3 class="w3-opacity-min w3-left-align w3-padding-left w3-padding-right w3-margin w3-text-indigo" style="text-shadow:1px 1px 0 #444">{{ brewery.nameShortDisplay }}</h3>
			{% else %}
			<h3 class="w3-opacity-min w3-left-align w3-padding-left w3-margin w3-padding-right w3-text-indigo" style="text-shadow:1px 1px 0 #444">{{ brewery.name }}</h3>
			{% endif %}
			{% if brewery.established %}
			<div class="w3-left-align w3-margin w3-padding-left w3-padding-right"><b>Established:</b> {{ brewery.established }}</div>
			{% endif %}
			{% if region %}
			<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>Region:</b> {{ region }}</div>
			{% endif %}
			{% if brewery.description %}
			<div class="w3-left-align w3-margin w3-padding-left w3-padding-right" ><b>The Brewery:</b> {{ brewery.description }}</div>
			{% endif %}
		</div>
	</div>	
</div>
{% endblock content %}
