{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="topmenu-margin w3-center">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading" style="text-align: center;">Sortable Scores</div>
			<div>
				<form name="ratingsForm" class="w3-center topcontent" method="Post">
				<div>
					<button class="removesubmit" name="sortratings" value="All" type="submit"><a class="w3-margin-right" {% if sort == 'All' %}style="color: tomato; font-weight: 700;"{% endif %}>All</a></button>
					<button class="removesubmit" name="sortratings" value="Brewery" type="submit"><a class="w3-padding-right" {% if sort == 'Brewery' %}style="color: tomato; font-weight: 700;"{% endif %}>Brewery</a></button>		
				</div>
				<div class="w3-padding-top">
					<button class="removesubmit" name="sortratings" value="1" type="submit"><a class="w3-padding-right" {% if sort == '1' %}style="color: tomato; font-weight: 700;"{% endif %}>1</a></button>
					<button class="removesubmit" name="sortratings" value="2" type="submit"><a class="w3-padding-right" {% if sort == '2' %}style="color: tomato; font-weight: 700;"{% endif %}>2</a></button>
					<button class="removesubmit" name="sortratings" value="3" type="submit"><a class="w3-padding-right" {% if sort == '3' %}style="color: tomato; font-weight: 700;"{% endif %}>3</a></button>
					<button class="removesubmit" name="sortratings" value="4" type="submit"><a class="w3-padding-right" {% if sort == '4' %}style="color: tomato; font-weight: 700;"{% endif %}>4</a></button>
					<button class="removesubmit" name="sortratings" value="5" type="submit"><a class="w3-padding-right" {% if sort == '5' %}style="color: tomato; font-weight: 700;"{% endif %}>5</a></button> 
					<button class="removesubmit" name="sortratings" value="6" type="submit"><a class="w3-padding-right" {% if sort == '6' %}style="color: tomato; font-weight: 700;"{% endif %}>6</a></button> 
					<button class="removesubmit" name="sortratings" value="7" type="submit"><a class="w3-padding-right" {% if sort == '7' %}style="color: tomato; font-weight: 700;"{% endif %}>7</a></button> 
					<button class="removesubmit" name="sortratings" value="8" type="submit"><a class="w3-padding-right" {% if sort == '8' %}style="color: tomato; font-weight: 700;"{% endif %}>8</a></button>
					<button class="removesubmit" name="sortratings" value="9" type="submit"><a class="w3-padding-right" {% if sort == '9' %}style="color: tomato; font-weight: 700;"{% endif %}>9</a></button>
					<button class="removesubmit" name="sortratings" value="10" type="submit"><a class="w3-padding-right" {% if sort == '10' %}style="color: tomato; font-weight: 700;"{% endif %}>10</a></button>
				</div>		
				{% csrf_token %}
				</form>
			</div>
		</div>
	</div><br>
	<div class="w3-center w3-padding-bottom">
		<div class="beerheading">{{ sort }}</div>
		<div class="homebeer w3-padding-top">
				{% for rating in brewery_rating %}
				{% if rating.is_active %}
				<div class="content-base">			
					<div class="content-1 w3-padding-bottom w3-padding-top"><span class="content-3" style="color: tomato;"><a href="/home/brewery/{{ rating.brewery_id }}/">{{ rating.beer_company }}</a></span>		
						<form name="ratingForm" method="Post">
							<input type="hidden" name="brewery_id" value="{{ rating.brewery_id }}" />
							<input type="hidden" name="sort" value="{{ sort }}" />
							<button class="removesubmit" title="1" value="1" type="submit" name="assignratings">{% if rating.score > 0 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="2" value="2" type="submit" name="assignratings">{% if rating.score > 1 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="3" value="3" type="submit" name="assignratings">{% if rating.score > 2 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="4" value="4" type="submit" name="assignratings">{% if rating.score > 3 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="5" value="5" type="submit" name="assignratings">{% if rating.score > 4 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="6" value="6" type="submit" name="assignratings">{% if rating.score > 5 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="7" value="7" type="submit" name="assignratings">{% if rating.score > 6 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="8" value="8" type="submit" name="assignratings">{% if rating.score > 7 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="9" value="9" type="submit" name="assignratings">{% if rating.score > 8 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							<button class="removesubmit" title="10" value="10" type="submit" name="assignratings">{% if rating.score > 9 %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
							{% csrf_token %}
						</form>
					</div>				
				</div>
				{% endif %}
				{% endfor %}
		</div><br><br>
	</div>
</div>

{% endblock content %}
