{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% load home_extras %}
<div class="w3-mobile w3-center">
	<div class="content-base topmenu-margin">
		<div class="topheading">{{ brewery.data.name }}</div>
		<form name="ratingForm" method="Post">
			{% if rating.is_active %}
			<button class="removesubmit" style="{% if request.session.is_mobile == False %}vertical-align: 7.25%;{% else %}vertical-align: -1px;{% endif %}color: #1569C7; background-color: snow; padding-right: 7px; {% if request.session.is_mobile %}font-size: 150%;{% else %}font-size: 105%;{% endif %}" title="Remove Score" value="inactivate" type="submit" name="assignratings"><i class="fa fa-ban" aria-hidden="true"></i></button>
			{% endif %}
			<button class="removesubmit" title="1" value="1" type="submit" name="assignratings">{% if rating.score > 0 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="2" value="2" type="submit" name="assignratings">{% if rating.score > 1 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="3" value="3" type="submit" name="assignratings">{% if rating.score > 2 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="4" value="4" type="submit" name="assignratings">{% if rating.score > 3 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="5" value="5" type="submit" name="assignratings">{% if rating.score > 4 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="6" value="6" type="submit" name="assignratings">{% if rating.score > 5 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="7" value="7" type="submit" name="assignratings">{% if rating.score > 6 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="8" value="8" type="submit" name="assignratings">{% if rating.score > 7 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="9" value="9" type="submit" name="assignratings">{% if rating.score > 8 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			<button class="removesubmit" title="10" value="10" type="submit" name="assignratings">{% if rating.score > 9 and rating.is_active %}<span class="beer-star">&#9733;</span>{% else %}<span class="beer-star-empty">&#9733;</span>{% endif %}</button>
			{% csrf_token %}
		</form>
		{% if brewery.data.description %}
		{% if brewery.data.description|length < 225 %}
		<div class="w3-padding-left w3-padding-right w3-margin-bottom topcontent" style="text-align: center; font-size: 100%;">{{ brewery.data.description }}</div>
		{% else %}
		<div class="w3-padding-left w3-padding-right w3-margin-bottom topcontent" style="text-align: left; font-size: 100%;">{{ brewery.data.description }}</div>
		{% endif %}
		{% endif %}
	</div>
	<div class="w3-container w3-center">
		<div class="w3-cell w3-half w3-left">
			{% if brewery.data.name %}
			<h3 class="beerheading">{{ brewery.data.name }}</h3>
			{% endif %}
			<div class="homebeer">
				{% if brewery.data.images.medium %}
				<div id="" class="w3-padding-bottom content-base" style="background-color: white"><a href="{{ banner.beer_website }}" class="w3-padding-4"><img class="w3-image" style="width:100%; max-width:400px;" src="{{ brewery.data.images.medium }}"></a></div>
				{% endif %}	
				{% if brewery.data.brandClassification %}
				<div class="content-base"><span class="beerstatslabel">Classification </span><span class="beerstatsvalue">{{ brewery.data.brandClassification|title }}</span></div>
				{% endif %}
				{% if brewery.data.established %}
				<div class="content-base"><span class="beerstatslabel">Established </span><span class="beerstatsvalue">{{ brewery.data.established }}</span></div>
				{% endif %}
				{% if brewery.data.website %}
				<div class="content-base beerstatslabel"><a href="{{ brewery.data.website }}" class="">{{ brewery.data.website }}</a></div>
				{% endif %}
				{% if brewery.data.socialAccounts %}
				{% for social in brewery.data.socialAccounts %}
				<div class="content-base"><span class="beerstatslabel"><a href="{{ social.link }}" target="_blank">{{ social.socialMedia.name }}</a></span></div>
				{% endfor %}
				{% endif %}
			</div>
			{% if brewery.data.locations %}
				{% for b in brewery.data.locations %}
					{% if b.status == "verified" %}
			<h3 class="beerheading">{{ b.name|title }}</h3>
			<div class="homebeer" style="">
				{% if b.locationTypeDisplay %}
				<div class="content-base"><span class="beerstatslabel">Type </span><span class="beerstatsvalue">{{ b.locationTypeDisplay }}</span></div>
				{% endif %}
				{% if b.openToPublic == 'Y' %}
				<div class="content-base"><span class="beerstatslabel">Open to the Public</div>
				{% endif %}
				{% if b.yearOpened %}
				<div class="content-base"><span class="beerstatslabel">Opened </span><span class="beerstatsvalue">{{ b.yearOpened }}</span></div>
				{% endif %}
				{% if b.locality %}
				<div class="content-base"><span class="beerstatslabel">Locality </span><span class="beerstatsvalue">{{ b.locality }}</span></div>
				{% endif %}
				{% if b.region %}
				<div class="content-base"><span class="beerstatslabel">Region </span><span class="beerstatsvalue">{{ b.region }}</span></div>
				{% endif %}
				{% if b.streetAddress %}
				<div class="content-base"><span class="beerstatslabel">Street </span><span class="beerstatsvalue">{{ b.streetAddress }}</span></div>
				{% endif %}
				{% if b.postalCode %}
				<div class="content-base"><span class="beerstatslabel">Postal Code </span><span class="beerstatsvalue">{{ b.postalCode }}</span></div>
				{% endif %}
				{% if b.country.displayName %}
				<div class="content-base"><span class="beerstatslabel">Country </span><span class="beerstatsvalue">{{ b.country.displayName }}</span></div>
				{% endif %}
				{% if b.phone %}
				<div class="content-base"><span class="beerstatslabel">Phone </span><span class="beerstatsvalue">{{ b.phone }}</span></div>
				{% endif %}
				{% if b.website %}
				<div class="content-base beerstatslabel"><span class=""><a href="{{ b.website }}" target="_blank">{{ b.website }}</a></span></div>
				{% endif %}
			</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		<div class="w3-cell w3-half w3-right">
			{% if brewery.data.name %}
			<h3 class="beerheading">Beers by {{ brewery.data.nameShortDisplay }}</h3>
			{% endif %}
			<div class="homebeer">
				{% for b in brewery_beers.data %}
				<div class="content-base" style="{% if request.session.is_mobile %}font-size: 75%; text-align: left; padding-left: 5px;{% else %}font-size: 85%;{% endif %}"><a href="/home/findbeer/{{ b.id }}/">{{ b.nameDisplay }}</a></div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="w3-padding-top w3-padding-bottom w3-margin-left w3-margin-right">
		<h3 class="beerheading">Notes</h3>
		<div class="homebeer">
		{% for note in brewery_notes %}
		{% if note.is_active == True %}
			<div class="content-base">
				<div class="w3-padding-top w3-padding topcontent" style="text-align: left;">{{ note.note }}</div>
				<div class="w3-center w3-small w3-padding-left w3-padding-bottom">{{ note.date_added }}<span class="w3-right"><a href="/home/brewerynotes/{{ note.id }}/" class="w3-padding-right">Edit</a></span></div>
			</div>
		{% endif %}
		{% endfor %}
		</div>
		<div class="w3-padding-top w3-margin-top">
			<form name="brewerynoteForm" class="w3-center" method="Post">
			<div class="w3-padding-bottom w3-padding-left w3-padding-right"><textarea type="textarea" name="brewerynotevalue" id="brewerynoteinput"></textarea></div>
			<button class="" name="brewerynote" value="y" type="submit">Add Note</button>
			{% csrf_token %}
			</form>
		</div>
	</div>	
</div>
{% endblock content %}
