{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="topmenu-margin w3-center">
		<div class="content-base-navyborder">
			{% if user_scores_check %}
			<div class="w3-padding-top topheading" style="text-align: center;"><div>{% for beer in beer_name %}<a href="/home/{{ beer.bdb_id }}/{{ beer.beer_name|slugify }}-by-{{ beer.beer_company|slugify }}/">{{ beer.beer_name }}</a><span style="font-size: 80%; padding-left: 8px;"><a style="color: tomato;" href="/home/brewery/{{ beer.brewery_id }}/"><u>{{ beer.beer_company }}</u></a></span>{% endfor %}</div><div style="font-size: 75%;">{% for agg in aggregate_score %}{{ agg.0 }}</div></div>
			<div class="topcontent"style="">Average score of {{ agg.1|floatformat:2 }}<br>Scored by {{ agg.2 }} {% if agg.2 == 1 %}member{% else %}members{% endif %}</div>{% endfor %}
			{% else %}
			<div class="w3-padding-top topheading" style="text-align: center;"><div><a href="/home/{{ beer.bdb_id }}/{{ beer.beer_name|slugify }}-by-{{ beer.beer_company|slugify }}/">{{ beer.beer_name }}</a></div><div style="font-size: 75%;"></div></div>
			<div class="topcontent"style="">There have been no member scores for this <a href="/home/findbeer/{{ bdb_id }}/">beer</a>.</div>
			{% endif %}
		</div>
	</div>
	{% if user_scores_check %}
	<h3 class="w3-center beerheading">Scores by Member</h3>
	<div class="homebeer">
		{% regroup user_scores by score as score_list %}
		{% for score in score_list %}
		<div class="">
			<div class="beerstatslabel content-base" style="color: tomato;">{{ score.grouper }}<br>
			{% for user in score.list %}
			<span class="beerstatsvalue" style="padding: 0 5px 0 5px;"><a href="/home/tasters/{{ user.user.id }}/">{{ user.user }}</a>{% if not forloop.last %}, {% endif %} </span>
			{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% if wanted_beer_check %}
	<h3 class="w3-center beerheading">Wanted by Member</h3>
	<div class="homebeer">
		<div class="beerstatslabel content-base">
		{% for user in wanted_beer %}
			<span class="beerstatsvalue" style="padding: 0 5px 0 5px;"><a href="/home/tasters/{{ user.user.id }}/">{{ user.user }}</a>{% if not forloop.last %}, {% endif %} </span>
		{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if beer_note_check %}
	<h3 class="w3-center beerheading">Notes by Member</h3>
	<div class="homebeer">
		{% for note in beer_note %}
		{% if note.is_active %}
		<div class="beerstatslabel content-base">				
			<div class="content-3-black" style="text-align: left; padding-left: 3%; font-size: 100%;">{{ note.note }}</div>				
			<div class="content-1 w3-padding-top w3-small" style="text-align:center;"><b><span class="beerstatsvalue" style="font-size: 125%;"><a href="/home/tasters/{{note.user.id }}/">{{ note.user.username }}</a></span> ({{ note.date_added }})</b></div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	<br>
	{% if not user_scores_check and not wanted_beer_check and not beer_note_check %}
	<div class="content-3-black" style="text-align: center; font-size: 100%;">Do this <a href="/home/findbeer/{{ bdb_id }}/">beer</a> a favor...give it a score, a note or even add it to your want list. It seems lonely.</div>
	{% endif %}
	<br>
	<div><a class="w3-padding gobacklink" href="/club/{{ crowd.id }}/">Back to {{ crowd }}</a></div>
</div>
{% endblock content %}
