{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}


<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container w3-padding-bottom w3-card">
		<h3 class="w3-animate-left w3-half w3-cell w3-text-white"><b>{{ request.user.username }}'s beer profile</b></h3>
		<div class="w3-right w3-half w3-cell w3-margin-top w3-padding-left w3-padding-right">{% crispy form %}</div>
	</div>
	<div class="w3-container w3-padding">
		<div class="w3-cell w3-half w3-left w3-padding-bottom">
			<h3 class="beerheading">favorites</h3>
			{% if fav_beer_check == False %}
			<div class="w3-center homebeer w3-padding-top w3-padding-bottom">No favorites yet...how sad</div>
			{% endif %}
			<div class="w3-center homebeer w3-padding-top">			
			{% for beer in favorite|dictsort:"beer_name"|dictsort:"beer_company" %}
			{% if beer.is_active == True %}
			<div class="w3-center w3-row w3-padding whitenote">
				<div class="w3-margin-right w3-small">
				<div class="homebeer w3-padding-0"><a href="/home/findbeer/{{ beer.bdb_id }}/">{{ beer.beer_name }}</a></div>
				<div class="beerrating w3-small" style="font-weight: 500;"><i>{{ beer.beer_company }}</i></div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class="w3-cell w3-half w3-right w3-padding-bottom">
			<h3 class="beerheading">most wanted</h3>
			{% if want_beer_check == False %}
			<div class="w3-center homebeer w3-padding-top w3-padding-bottom">Come on now..I know you want beer</div>
			{% endif %}
			<div class="w3-center homebeer w3-padding-top">
			{% for beer in wanted|dictsort:"beer_name"|dictsort:"beer_company" %}
			{% if beer.is_active == True %}
			<div class="w3-center w3-row w3-padding whitenote">
				<div class="w3-margin-right w3-small">
					<div class="homebeer w3-padding-0"><a href="/home/findbeer/{{ beer.bdb_id }}/">{{ beer.beer_name }}</a></div>
					<div class="beerrating w3-small" style="font-weight: 500;"><i>{{ beer.beer_company }}</i></div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="w3-container w3-padding">
		<div class="w3-cell w3-half w3-left w3-padding-bottom">
			<h3 class="beerheading">upcoming events</h3>
			<div class="w3-center homebeer w3-padding-top">
			{% for event in events %}
			{% if event.is_active == True %}
			<div class="w3-center w3-row w3-padding whitenote">
				<div class="w3-margin-right w3-small">
					<div class="homebeer w3-padding-0"><a href="/event/{{ event.id }}/">{{ event.event_name }}</a></div>
					<div class="beerrating w3-small" style="font-weight: 500;"><i>{{ event.event_date|date:'n/j/y g:i A'|lower }}</i></div>
					<div class="homecompany w3-small" style="font-weight: 500;">{{ event.address }}</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			</div>
		<div class="w3-padding-top homecompany w3-margin-right w3-margin-top">See All Upcoming Events</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">past events</h3>
			<div class="w3-center homebeer w3-padding-top">
			{% for event in past_events %}
			{% if event.is_active == True %}
			<div class="w3-center w3-row w3-padding whitenote">
				<div class="w3-margin-right w3-small">
					<div class="homebeer w3-padding-0"><a href="/event/{{ event.id }}/">{{ event.event_name }}</a></div>
					<div class="beerrating w3-small" style="font-weight: 500;"><i>{{ event.event_date|date:'n/j/y g:i A'|lower }}</i></div>
					<div class="homecompany w3-small" style="font-weight: 500;">{{ event.address }}</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			</div>
		<div class="w3-padding-top w3-margin-top homecompany w3-margin-right">See All Past Events</div>
		</div>
	</div>
	<div class="w3-container w3-padding">
		<div class="w3-cell w3-half w3-left w3-padding-bottom">
			<h3 class="beerheading">recent beer notes</h3>
			<div class="w3-center homebeer w3-padding-top">
			{% if beer_notes_check %}
			{% for note in beer_notes %}
			<div class="w3-center w3-row w3-padding whitenote">	
			<div class="w3-margin-right w3-small">			
			<div class="homebeer w3-padding-0"><a href="/home/findbeer/{{ note.bdb_id }}/">{{ note.beer_name }}</a></div>			
			<div <i class="beerrating" style="font-weight: 500;">{{ note.beer_company }}</i></div>
			<div class="homecompany w3-small" style="font-weight: 500;">{{ note.note }}</div>
			</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="w3-center homebeer w3-padding-top w3-padding-bottom">No beer notes have been added yet</div>
			{% endif %}
			</div>
		<div class="w3-padding-top homecompany w3-margin-right w3-margin-top">See All Notes</div>
		</div>
		<div class="w3-cell w3-half w3-left w3-padding-bottom">
			<h3 class="beerheading">recent beer ratings</h3>
			<div class="w3-center homebeer w3-padding-top">
			{% if beer_rating_check %}
			{% for rating in beer_rating %}
			<div class="w3-center w3-row w3-padding whitenote">			
			<div class="w3-margin-right w3-small">
			<div class="homebeer w3-padding-0"><a href="/home/findbeer/{{ rating.rating.content_object.bdb_id }}/">{{ rating.rating.content_object.beer_name }}</a></div>
			<div><i class="beerrating" style="font-weight: 500;">{{ rating.rating.content_object.beer_company }}</i></div>
			<div class="homecompany w3-small" style="font-weight: 500;">{{ rating.score }} out of 10</div>
			</div>			
			</div>
			{% endfor %}
			{% else %}
			<div class="w3-center homebeer w3-padding-top w3-padding-bottom">No beer ratings have been added yet</div>
			{% endif %}
			</div>
		<div class="w3-padding-top homecompany w3-margin-right w3-margin-top">See All Ratings</div>
		</div>
	</div>
	<br>
</div>
{% endblock content %}
