{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}


<div class="w3-mobile w3-center">
	<div class="w3-center">
		<div class="content-base-navyborder topmenu-margin">
			<div class="w3-padding-bottom w3-padding-top topheading"><a class="removelink" style="color: tomato;" href="/home/findbeer/{{ beer_note.bdb_id }}/">{{ beer_note.beer_name }}</a><div class="topcontent w3-small">{{ beer_note.beer_company }}</div></div>			
			<div class="content-2 w3-small"><b>{{ beer_note.date_added }}</b></div>
		</div>
	</div>
	<form method="post" action="" class="w3-padding w3-margin-top">
	<div class="formdescription">{{ form.note }}</div>
	{% csrf_token %}<br>
	<input type="submit" value="Update"/>
	<input type="submit" name="removenote" value="Remove"/>
	</form>
</div>
<div>{{ post_info }}</div>

{% endblock content %}