{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}


<div class="w3-mobile w3-center">
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="content-1 w3-large"><a href="/home/findbeer/{{ beer_note.bdb_id }}/">{{ beer_note.beer_name }} <span class="content-2">{{ beer_note.beer_company }}</span></a></div>			
			<div class="content-2 w3-small"><b>{{ beer_note.date_added }}</b></div>
		</div>
	</div>
	<form method="post" action="" class="w3-padding w3-margin-top">
	<div class="formdescription">{{ form.note }}</div>
	{% csrf_token %}<br>
	<input type="submit" value="Update"/>
	<input type="submit" name="removenote" value="Remove"/>
	</form>
</div>
<div>{{ post_info }}</div>

{% endblock content %}