{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% load cache %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container">
		<h3 class="w3-center"><b>{{ beer_info.beer_name }} Profile</b></h3>
	</div>
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">Phone users: Turning the phone sideways on this page helps
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;"><a href="/home/findbeer/{{ beer_info.bdb_id }}/">Back to the Beer</a>
			</div>
		</div>
	</div>
	<div class="w3-container">
		<form class="w3-padding-bottom" method="Post">
			{% for category in profile_category %}
			<div class="">
				<h3 class="beerheading">{{ category }}</h3>
				{% for section in profile_section %}
					{% if section.category == category %}
					<div class="content-blankstate">
						<div class="ps-section">{{ section.section }}</div>
						<div class="content-base w3-small">
						 {% for attribute in profile_attribute %}
						 {% if attribute.section == section %}
							{% if attribute.id in ps_attribute %}
							<li id="profilesheet" class="w3-padding-right w3-padding-bottom">{{ attribute.attribute }}<br><input type="checkbox" value="{{ attribute.id }}" name="checks[]" checked></input></li>
							{% else %}	
							<li id="profilesheet" class="w3-padding-right w3-padding-bottom">{{ attribute.attribute }}<br><input type="checkbox" value="{{ attribute.id }}" name="checks[]"></input></li>
							{% endif %}
						 {% endif %}
						 {% endfor %}
						</div>
					</div>
					{% endif %}
				{% endfor %}<div class="w3-padding-top"><button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white" style="text-shadow:1px 0 0" type="submit">Save Profile</button></div>
			</div>
			{% endfor %}
			<br>
			{% csrf_token %}
		</form>
	</div>
	<a href="/home/findbeer/{{ beer_info.bdb_id }}/">Back to the Beer</a>
</div>
{% endblock content %}