{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% load cache %}

<div class="w3-mobile w3-center">
	<div class="content-base-navyborder topmenu-margin">
		<div class="w3-padding-bottom w3-padding-top"><a class="topheading" href="/home/findbeer/{{ beer_info.bdb_id }}/">{{ beer_info.beer_name }}</a></div>
		<div class="topcontent" style={% if request.session.is_mobile %}"text-align: left;"{% else %}"text-align: center;"{% endif %}>It is not necessary to save each section individually.  The Save Profile buttons are placed at the end of each section for convenience.</div>
	</div>
	<div class={% if request.session.is_mobile %}{% else %}"w3-container"{% endif %}>
		<form class="w3-padding-bottom" method="Post">
			{% for category in profile_category %}
			<div class="">
				<h3 class="beerheading">{{ category }}</h3>
				{% for section in profile_section %}
					{% if section.category == category %}
					<div class="homebeer">
						<div class="ps-section">{{ section.section }}</div>
						<div class="content-base w3-small">
						 {% for attribute in profile_attribute %}
						 {% if attribute.section == section %}
							{% if attribute.id in ps_attribute %}
							<li id={% if request.session.is_mobile %}"profilesheetm" {% else %}"profilesheet"{% endif %} class={% if request.session.is_mobile %}"beerstatsvalue-m" {% else %}"profileattribute"{% endif %}>{{ attribute.attribute }}<br><input type="checkbox" value="{{ attribute.id }}" name="checks[]" checked></input></li>
							{% else %}	
							<li id={% if request.session.is_mobile %}"profilesheetm" {% else %}"profilesheet"{% endif %} class={% if request.session.is_mobile %}"beerstatsvalue-m" {% else %}"profileattribute"{% endif %}>{{ attribute.attribute }}<br><input type="checkbox" value="{{ attribute.id }}" name="checks[]"></input></li>
							{% endif %}
						 {% endif %}
						 {% endfor %}
						</div>
					</div>
					{% endif %}
				{% endfor %}<div class="w3-padding-top"><button class="" type="submit">Save Profile</button></div>
			</div>
			{% endfor %}
			<br>
			{% csrf_token %}
		</form>
	</div>
	<a href="/home/findbeer/{{ beer_info.bdb_id }}/">Back to {{ beer_info.beer_name }}</a>
</div>
{% endblock content %}