{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}


<div class="w3-mobile w3-center">
	<div class="content-base-navyborder topmenu-margin">
		<h3 class="w3-center topheading"><b>{{ taster.username }}</b></h3>
	</div>
	<div class="w3-container w3-padding">
		<div class="w3-cell w3-half w3-left w3-padding-bottom">
			<h3 class="beerheading">Favorites</h3>
			<div class="w3-center homebeer w3-padding-top">	
			{% if fav_beer_check == False %}
			<div class="content-base emptycontent">No favorites added</div>
			{% endif %}
			{% for beer in fav_beer|dictsort:"beer_name"|dictsort:"beer_company" %}
			{% if beer.is_active == True %}
			<div class="content-base">
				<div class="content-1"><a href="/home/findbeer/{{ beer.bdb_id }}/">{{ beer.beer_name }}</a><span class="content-2"> {{ beer.beer_company }}</span></div>
			</div>
			{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class="w3-cell w3-half w3-right w3-padding-bottom">
			<h3 class="beerheading">Wanted</h3>
			<div class="w3-center homebeer w3-padding-top">
			{% if want_beer_check == False %}
			<div class="content-base emptycontent">User does not want</div>
			{% endif %}
			{% for beer in want_beer|dictsort:"beer_name"|dictsort:"beer_company" %}
			{% if beer.is_active == True %}
			<div class="content-base">
				<div class="content-1"><a href="/home/findbeer/{{ beer.bdb_id }}/">{{ beer.beer_name }}</a><span class="content-2"> {{ beer.beer_company }}</span></div>
			</div>
			{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="w3-container w3-padding">
		<div class="w3-cell w3-half w3-left w3-padding-bottom">
			<h3 class="beerheading">Recent Notes</h3>
			<div class="w3-center homebeer w3-padding-top">
			{% if beer_notes_check %}
			{% for note in beer_notes %}
			<div class="content-base">				
				<div class="content-1" style="text-align: left;"><a href="/home/findbeer/{{ note.bdb_id }}/">{{ note.beer_name }}</a> <span class="content-2">{{ note.beer_company }}</span></div>
				<div class="content-wrapper w3-margin-0"><div class="content-3">{{ note.note }}</div></div>			
			</div>
			{% endfor %}
			{% else %}
			<div class="content-base emptycontent">User has no notes</div>
			{% endif %}
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">Recent Ratings</h3>
			<div class="w3-center homebeer w3-padding-top">
			{% if beer_rating_check %}
			{% for rating in beer_rating %}
			<div class="content-base">			
				<div class="content-1"><a href="/home/findbeer/{{ rating.bdb_id }}/">{{ rating.beer_name }}</a>  
					<span class="content-2">{{ rating.beer_company }}</span> 
					<span class="content-3" style="color: tomato;">{{ rating.score }}</span>
				</div>				
			</div>
			{% endfor %}
			{% else %}
			<div class="content-base emptycontent">User has no ratings</div>
			{% endif %}
			</div>
		</div>
	</div>
	<br>
</div>
{% endblock content %}