{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="w3-center w3-mobile">
<div class="content-base-navyborder topmenu-margin">
<h1 class="w3-center content-tomato w3-padding-bottom">{% trans "Sign Out" %}</h1>
</div>
<p class="w3-padding-top w3-margin-top">{% trans 'Are you sure you want to sign out?' %}</p>

<form class="w3-padding-bottom w3-margin-bottom" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>

{% endblock %}
