{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="w3-center w3-mobile">
	<div class="topmenu-margin w3-center">
		<div class="content-base">
			<div class="topheading w3-padding-top">{% trans "Password Reset" %}</div>
		</div>
	</div>
	<div class="w3-container">
		<h4 class="beerheading-nomargin">Email Sent</h4>
		<div class="content-base-navyborder">	
			<div>{% if user.is_authenticated %}{% include "account/snippets/already_logged_in.html" %}{% endif %}</div>
			<div>{% blocktrans %}We have sent you an e-mail. Contact us if you do not receive it within a few minutes.{% endblocktrans %}<div class="w3-padding-top" style="color: tomato;">support@thebeercrowd.com</div></div>
		</div>
	</div>
	<div class="w3-padding"><a href="/{{ login_url }}">Account Sign In</a></div>
</div>
{% endblock %}
