{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="w3-mobile w3-center">
	<div class="w3-container w3-center w3-padding-bottom">
		<div class="content-base-navyborder">
			<div class="w3-padding-bottom w3-padding-top topheading" style="text-align: center;">Password Reset</div>
		</div>
	</div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
	<br>
	<div class="w3-container">
		<h4 class="beerheading-nomargin">Submit Email Address</h4>
		<div class="content-base-navyborder">{% trans "An email will be sent to reset your account" %}
			<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
				{% csrf_token %}
				<div class="w3-padding">{{ form.email }}</div>
				<input type="submit" value="{% trans 'Reset My Password' %}" />
				{% for field in form.visible_fields %}
				<div class="w3-padding-top w3-padding-right w3-margin-right" style="color: tomato;"><b>{{ field.errors }}</b></div>
				{% endfor %}
			</form>
		</div>
	</div>
	<br>
    <div class="w3-padding" style="font-size: .9em;">{% blocktrans %}Please contact us if you have any issues:<div class="w3-padding-top" style="color: tomato;">support@thebeercrowd.com</div>{% endblocktrans %}</div>
	<br>
	<div><a class="w3-padding" href="{{ login_url }}">Back to Sign In</a></div>
</div>
{% endblock %}
