{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="w3-center w3-mobile">
<div class="w3-beer w3-container w3-border-bottom w3-border-top w3-border-indigo w3-padding-bottom">
	<h1 class="w3-animate-left w3-center w3-text-white" style="text-shadow:0px 1px 0 #444; font-variant: small-caps; font-weight: bold;">{% trans "sign up" %}</h1>
</div>
<p class="w3-center w3-margin">{% blocktrans %}If you already have an account, please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup w3-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Register" %} &raquo;</button>
  <br><br>
</form>
</div>
{% endblock %}
