{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container w3-padding-bottom w3-card">
		<h3 class="w3-center w3-text-white"><b>{{ event.event_name }}</b><br><div class="w3-large beerpaddingthin"><b>{{ event.event_date|date:'F d, Y' }}</b></div><div class="w3-medium beerpaddingthin"><b>{{ event.event_date|time:'g:iA'|lower }}</b></div></h3>
	</div>
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;">
			{% if event_attendance.will_attend%}
			You are currently attending this event
			{% else %}
			You are not currently attending this event
			{% endif %}
			</div>
			<form name="eventattendForm" class="w3-center beerpadding" method="Post">
			{% if event_attendance_check %}
				{% if event_attendance.will_attend == True %}
			<button class="w3-small loginlink" name="remove" value="y" type="submit">Can't make it now</button>
				{% else %}
			<button class="w3-btn w3-round w3-small topmenu w3-hover-indigo loginlink" style="text-shadow:1px 0 0" name="activate" value="y" type="submit">I'm coming now</button>			
				{% endif %}
			{% else %}
			<button class="w3-btn w3-round w3-small topmenu w3-hover-indigo loginlink" style="text-shadow:1px 0 0" name="attend" value="y" type="submit">I'll be there</button>
			<button class="w3-btn w3-round w3-small topmenu w3-hover-indigo loginlink" style="text-shadow:1px 0 0" name="decline" value="y" type="submit">Can't make it</button>
			{% endif %}
			{% csrf_token %}
			</form>
	</div>
	<div class="w3-center w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">event location</h3>
			<div class="homebeer content-base">
				<div class="w3-center content-1 w3-large" style="">{{ event.address.description }}</div>
				<div class="eventaddress w3-padding-0 w3-margin-0 content-2">{{ event.address.address_1 }}</div>
				<div class="eventaddress w3-margin-0 content-2">{{ event.address.city }}, {{ event.address.state }} {{ event.address.zip_code }}</div>
				<a class="w3-margin-0 content-3" href="{{ event.address.google_maps }}" target="_new">google maps</a><br>
			</div>
			<div class="beerpaddingthin"></div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">event description</h3>
			<div class="homebeer content-base">
				<div class="content-wrapper content-1 club-content-span-text w3-padding-bottom w3-padding-top w3-center" style="">{{ event.description }}</div>
			</div>
			<div class="beerpaddingthin"></div>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">attending</h3>
			<div class="homebeer">
			{% if confirmed_check == False %}
			<ul class="content-base"><li>No members have confirmed</li></ul>
			{% else %}
			{% for taster in taster_response %}
			{% if taster.will_attend == True %}
			<ul class="content-base"><li><a href="/home/tasters/{{ taster.user.id }}/">{{ taster.user.username }}</a></li></ul>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">not attending</h3>
			<div class="homebeer">
			{% if declined_check == False %}
			<ul class="content-base">No members have declined</ul>
			{% else %}
			{% for taster in taster_response %}
			{% if taster.will_attend == False %}
			<ul class="content-base"><li><a href="/home/tasters/{{ taster.user.id }}/">{{ taster.user.username }}</a></li></ul>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">confirmed beers</h3>
			<div class="homebeer">
			{% if event_beer_check == False %}
			<ul class="w3-ul w3-margin-right">No beers committed</ul>
			{% else %}
			{% for beer in committed %}
			{% if beer.is_active == True %}
			<div class="content-base">
			<ul class="w3-ul w3-margin-right content-1"><li class=""><a href="/home/findbeer/{{ beer.bdb_id }}/">{{ beer.beer_name }}</a> ({{ beer.user }})</li></ul>
			<div class="content-2">{{ beer.beer_company }}</div>
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">wanted beers</h3>
			<div class="homebeer">			
			{% for item in suggest %}
			{% for beer in item %}
			{% if beer.is_active == True %}
			<div class="content-base">
			<ul class="w3-ul w3-margin-right content-1"><li class=""><a href="/home/findbeer/{{ beer.bdb_id }}/">{{ beer.beer_name }}</a> <span class="content-2">{{ beer.beer_company }}</span></li></ul>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="w3-center w3-mobile">
		<h3 class="beerheadingfull">event notes</h3>
		{% for note in event_notes %}
		{% if note.is_active == True %}
		<div class="homebeerfull">
		<div class="w3-row w3-padding {% cycle 'beernote' 'whitenote' %} ">
		<div class="content-1" style="text-align: center;">"{{ note.note }}"</div>
		<div class="content-2" style="text-align:center; text-shadow:0px 0px 1px #fbfcfc;"><b>{{ note.user.username }}</b></div>
		</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="beerpaddingthin w3-padding-bottom w3-margin-bottom"></div>
		<form name="eventnoteForm" class="w3-center" method="Post">
		<div class="w3-padding-bottom w3-padding-left w3-padding-right"><textarea type="textarea" name="notevalue"></textarea></div>
		<button class="w3-button w3-indigo w3-round w3-small w3-border w3-border-black w3-hover-white w3-padding-top" style="text-shadow:1px 0 0" name="eventnote" value="y" type="submit">Add Note</button>
		{% csrf_token %}
		</form>
	</div>
	<br>
</div>
{% endblock content %}
