{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-center">
		<div class="content-base-navyborder topmenu-margin">
			<h3 class="w3-center">
				<div class="content-tomato"><b>{{ club_event.club.name }}</b></div>
				<div class="">{{ event.event_name }}
					<div class="w3-large beerpaddingthin">{{ event.event_date|date:'F d, Y' }}<br>{{ event.event_date|time:'g:iA'|lower }}</div>
				</div>
			</h3>
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;">
			{% if event_attendance.will_attend%}
			You are currently attending this event
			{% else %}
			You are not currently attending this event
			{% endif %}
			</div>
			<form name="eventattendForm" class="w3-center beerpadding w3-padding-bottom" method="Post">
			{% if event_attendance_check %}
				{% if event_attendance.will_attend == True %}
			<button class="" name="remove" value="y" type="submit">I Can't Attend</button>
				{% else %}
			<button class="" name="activate" value="y" type="submit">I Am Attending</button>			
				{% endif %}
			{% else %}
			<button class="" name="attend" value="y" type="submit">I'll be there</button>
			<button class="" name="decline" value="y" type="submit">Can't make it</button>
			{% endif %}
			{% csrf_token %}
			</form>
		</div>
	</div>
	<div class="w3-center w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading w3-padding-left">Location
				{% if club_admin_check %}
				<span><a class="w3-right managetool" href='manage/'><i class="fa fa-pencil" style="padding-right: 2px;" aria-hidden="true"></i></a></span>
				{% endif %}	</h3>
			<div class="homebeer">
				<div class="content-1" style="font-size: 120%; color: tomato; font-weight: bold">{{ event.address.description }}</div>
				<div class="topcontent" style="font-size: 100%; font-weight: 400">{{ event.address.address_1 }}</div>
				<div class="topcontent" style="font-size: 100%; font-weight: 400">{{ event.address.city }}, {{ event.address.state }} {{ event.address.zip_code }}</div>
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading w3-padding-left">Description
				{% if club_admin_check %}
				<span><a class="w3-right managetool" href='manage/'><i class="fa fa-pencil" style="padding-right: 2px;" aria-hidden="true"></i></a></span>
				{% endif %}	</h3>
			<div class="homebeer">
				<div class="w3-padding topcontent" style="text-align:left;">{{ event.description }}</div>
			</div>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">Attending</h3>
			<div class="homebeer">
				{% if confirmed_check == False %}
				<div class="content-base">No members have confirmed</div>
				{% else %}
				{% for taster in taster_response %}
				{% if taster.will_attend == True %}
				<div class="content-base"><a href="/home/tasters/{{ taster.user_id }}/">{{ taster.user.username }}</a></div>
				{% endif %}
				{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">Not Attending</h3>
			<div class="homebeer">
			{% if declined_check == False %}
			<div class="content-base">No members have declined</div>
			{% else %}
			{% for taster in taster_response %}
			{% if taster.will_attend == False %}
			<div class="content-base"><a href="/home/tasters/{{ taster.user_id }}/">{{ taster.user.username }}</a></div>
			{% endif %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-cell w3-half w3-left">
			<h3 class="beerheading">Confirmed Beer</h3>
			<div class="homebeer">
			{% if event_beer_check == False %}
			<div class="content-base">No beers committed</div>
			{% else %}
			{% for beer in committed %}
			<div class="content-base w3-padding-top w3-padding-bottom">
				{% if club_admin_check %}
				<form name="confirmedbeerForm" class="w3-right" method="Post">
				<button class="removesubmit" name="removeconfirmed" value="{{ beer.bdb_id }}" type="submit"><a class="w3-right w3-tiny"><i class="fa fa-times" aria-hidden="true"></i></a></button>
				{% csrf_token %}
				</form>
				{% endif %}
				<div class="w3-margin-right content-1"><a href="/home/findbeer/{{ beer.bdb_id }}/"><b>{{ beer.beer_name }}</b></a>
					<span class="content-3"><b>{{ beer.beer_company }}</b></span></div>
					{% for su in score_user %}
					{% if su.0 == beer.bdb_id %}
					<div><span class="beerstatslabel" style="font-size: 85%;">My Score</span> <span class="beerstatsvalue w3-padding-right">{{ su.1 }}</span>
					{% endif %}
					{% endfor %}
					{% for sb in score_beercrowd %}
					{% if sb.0 == beer.bdb_id %}
					<span class="beerstatslabel" style="font-size: 85%;">The Beer Crowd</span> <span class="beerstatsvalue w3-padding-right">{{ sb.1 }} ({{ sb.2 }})</span>
					{% endif %}
					{% endfor %}
					{% for sc in score_club %}
					{% if sc.0 == beer.bdb_id %}
					<span class="beerstatslabel" style="font-size: 85%;">{{ club.name }}</span> <span class="beerstatsvalue w3-padding-right">{{ sc.1 }} ({{ sc.2 }})</span>
					{% endif %}
					{% endfor %}
					</div>
			</div>
			{% endfor %}
			{% endif %}
			{{ committed_test }}
			</div>
		</div>
		<div class="w3-cell w3-half w3-right">
			<h3 class="beerheading">Wanted Beer</h3>
			<div class="homebeer">	
			{% if taster_response_attending_check == False %}
			<div class="content-base">No beers wanted</div>
			{% endif %}
			{% for item in suggest_distinct %}
			<div class="content-base">
				<div class="w3-margin-right content-1"><a href="/home/findbeer/{{ item.0 }}/">{{ item.2 }}</a>
					<span class="content-3">{{ item.1 }}</span>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="w3-center">
		<h3 class="beerheading">Notes</h3>
		<div class="homebeer">
			{% for note in event_notes %}
			{% if note.is_active == True %}
			<div class="content-base">
				<div class="w3-padding-top w3-padding topcontent" style="text-align: center;">"{{ note.note }}"</div>
				<div class="w3-center w3-small w3-padding-left" style="text-align:center; color: tomato;"><b>{{ note.user.username }}</b></div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="beerpaddingthin w3-padding-bottom w3-margin-bottom"></div>
		<form name="eventnoteForm" class="w3-center" method="Post">
		<div class="w3-padding-bottom w3-padding-left w3-padding-right"><textarea type="textarea" name="notevalue"></textarea></div>
		<button class="w3-btn w3-round w3-small topmenu-negative loginlink" style="text-shadow:1px 0 0" name="eventnote" value="y" type="submit">Add Note</button>
		{% csrf_token %}
		</form>
	</div>
	<br>
</div>
{% endblock content %}
