{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-container w3-mobile w3-center">
	<div class="w3-center">
		<div class="content-base">
			<div class="w3-padding-bottom w3-padding-top topheading" style="text-align: center;">Getting Started</div>
			<div class="topcontent">Type a beer in the box above and click Beer Me.</div>
		</div>
	</div>
	<div class="w3-container w3-cell w3-half w3-left w3-padding-bottom">
		<h3 class="beerheading">Upcoming</h3>
		<div class="w3-center homebeer w3-padding-top">
		{% if events %}
		{% for event in events %}
		{% for e in event %}
		{% if e.event.is_active == True %}
		<div class="content-base">
			<div class="content-1"><a href="/event/{{ e.event.id }}/">{{ e.event.event_name }}</a></div>
			<div class="content-3">{{ e.event.address }}</div>
			<div class="content-2">{{ e.event.event_date|date:'n/j/y g:i A'|lower }}</div>
		</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
		{% else %}
		<div class="content-base emptycontent">You have no upcoming events</div>
		{% endif %}
		</div>
	</div>
	<div class="w3-container w3-cell w3-half w3-right">
		<h3 class="beerheading">Past</h3>
		<div class="w3-center homebeer w3-padding-top">
		{% if past_events %}
		{% for event in past_events %}
		{% for pe in event %}
		{% if pe.event.is_active == True %}
		<div class="content-base">
			<div class="content-1"><a href="/event/{{ pe.event.id }}/">{{ pe.event.event_name }}</a></div>
			<div class="content-3">{{ pe.event.address }}</div>
			<div class="content-2">{{ pe.event.event_date|date:'n/j/y g:i A'|lower }}</div>
		</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
		{% else %}
		<div class="content-base emptycontent">You have no past events</div>
		{% endif %}
		</div>
	</div>
</div><br>
{% endblock content %}
