{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-container w3-padding w3-mobile w3-center">
	<div class="w3-cell w3-half w3-left w3-padding-bottom">
		<h3 class="beerheading">upcoming events</h3>
		<div class="w3-center homebeer w3-padding-top">
		{% for event in events %}
		{% for e in event %}
		{% if e.event.is_active == True %}
		<div class="content-base">
			<div class="content-1"><a href="/event/{{ e.event.id }}/">{{ e.event.event_name }}</a></div>
			<div class="content-3">{{ e.event.address }}</div>
			<div class="content-2">{{ e.event.event_date|date:'n/j/y g:i A'|lower }}</div>
		</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
		</div>
	</div>
	<div class="w3-cell w3-half w3-right">
		<h3 class="beerheading">past events</h3>
		<div class="w3-center homebeer w3-padding-top">
		{% for event in past_events %}
		{% for pe in event %}
		{% if pe.event.is_active == True %}
		<div class="content-base">
			<div class="content-1"><a href="/event/{{ pe.event.id }}/">{{ pe.event.event_name }}</a></div>
			<div class="content-3">{{ pe.event.address }}</div>
			<div class="content-2">{{ pe.event.event_date|date:'n/j/y g:i A'|lower }}</div>
		</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
