{% extends "base.html" %}

{% block title %}Welcome Home!!{% endblock title %}

{% block content %}

<div class="w3-mobile w3-center">
	<div class="w3-beer w3-container">
		<h3 class="w3-center" style="font-weight: bold;">Manage {{ club_event.event.event_name }}</h3>
	</div>
	<div class="w3-container w3-center">
		<div class="content-base-navyborder">
			<div class="content-1 club-content-span w3-padding-bottom w3-padding-top" style="text-align: center;">Edit the fields below that you would like to change and click update. Inactive events will not be visible to the crowd. The page for the event can not be visited by anyone including admins.  You may confirm an inactive event by attempting to visit the link at the bottom of this page.
			</div>
		</div>
	</div>
	<h3 class="w3-center beerheading">Manage Event</h3>
		<form method="post" action="" class="">
		<div class="homebeer">
		<div class="w3-padding-bottom content-base w3-padding-top"><div class="w3-padding-right content-1-profile w3-padding-bottom" style="text-align:center;">Event Description</div><div class="content-3" style="text-align:center;">{{ form.description }}</div></div>
		<div class="w3-padding-bottom content-base w3-padding-top"><div class="w3-padding-right content-1-profile w3-padding-bottom" style="text-align:center;">Event Name</div><div class="content-3" style="text-align:center;">{{ form.event_name }}</div></div>
		<div class="w3-padding-bottom content-base w3-padding-top"><div class="w3-padding-right content-1-profile w3-padding-bottom" style="text-align:center;">Event Date (Format: 2017-10-31 16:00)</div><div class="content-3" style="text-align:center;">{{ form.event_date }}</div></div>
		<div class="w3-padding-bottom content-base w3-padding-top"><div class="w3-padding-right content-1-profile w3-padding-bottom" style="text-align:center;">Event Is Active</div><div class="content-3" style="text-align:center;">{{ form.is_active }}</div></div>
		<div class="w3-padding-bottom content-base w3-padding-top"><div class="w3-padding-right content-1-profile w3-padding-bottom" style="text-align:center;">Event Address (<a href="/club/{{ club_event.club_id }}/manage/event/newaddress/">Add Address</a>)</div><div class="content-3" style="text-align:center;">{{ form.address }}</div><br><div class="content-2"><a href="/club/{{ club_event.club_id }}/manage/event/address/">Edit Address</a></div></div>		
		
		{% csrf_token %}
		</div>

		<br><input type="submit" value="Update"/>
		</form>
	<div class="w3-padding-top w3-margin-top"><a class="w3-padding" href="/event/{{ club_event.event.id }}/">Back to {{ club_event.event.event_name }}</a></div>
</div>
{% endblock content %}
