body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.topmenu {
	font-family: 'Roboto Slab', serif;
	background-color: #1569C7;
	margin: 0 1% 0 1%;
	color: snow;
	border-top: 2px solid tomato;
	border-bottom: 2px solid tomato;
}

.topmenu-base {
	border-bottom: 2px solid #1569C7;
	margin: 0 1% 0 1%;
}


.topmenu-margin{
	margin: 0 1% 0 1%;
}


.topmenu-links {
	color: snow;
	text-decoration: none;
	font-weight: 700;
	padding: 10px 1%;
	margin: 0 2%;
	font-size: 100%;
	background-color: #1569C7;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


.topmenu-shortcut {
	color: snow;
	text-decoration: none;
	font-weight: 800;
	font-size: 70%;
}

.topmenu-positive {
	background-color: tomato;
	border: 1px solid navy;
}

.topmenu-negative {
	background-color: #1569C7;
	border: 1px solid navy;
}

.topmenu-negative:hover {
	color: snow;
	background-color: tomato;
}

.bottom-border-blue {
	border-bottom: 2px solid #1569C7; 
	padding-bottom: .5px;
	margin-left: 1%;
	margin-right: 1%;
}


.topmenu-manage {
	background-color: tomato;
	color: snow;
	font-weight: bold;
	margin: 0;
	padding-top: .25%;
	padding-bottom: .25%;
	padding-left: 0;
	padding-right: 0;
	font-size: 85%;
	text-decoration: none;
	text-align: center;
}

.topmenu-announcement {
	background-color: tomato;
	color: white;
	font-weight: bold;
	margin: 0;
	padding-top: .25%;
	padding-bottom: .25%;
	padding-left: 0;
	padding-right: 0;
	font-size: 85%;
	text-decoration: none;
	text-align: center;
}


.w3-beer{
	color: snow;
	background-color: tomato;
	padding: 0;
	margin-left: 1%;
	margin-right: 1%;
	border-bottom: 1px solid navy; 
	border-top: 1px solid navy; 
	text-shadow: 0px 0px 2px navy;
	font-weight: bold;
	}
	
.top-beer{
	padding-left: 1%;
	padding-right: 1%;
}
	
.beernote{
	color:#00008b;
	background-color:snow;
	padding: 0;
	text-align: left;
	font-weight: bold;
	border-bottom: .5px solid tomato;
}

.whitenote{
	color:navy;
	background-color:snow;
	padding: 0;
	text-align: left;
	border-bottom: .5px solid tomato;
	font-size: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
	
.homebeer{
	font-size: 115%;
	padding: 0 0 0 0;
	background-color: snow;
	margin-left: 2%;
	margin-right: 2%;
	color: navy;
	border-left: 1px solid #1569C7;
	border-right: 1px solid #1569C7;
	border-bottom: 1px solid #1569C7;
}

.homebeerfull{
	font-size: 115%;
	padding: 0 0 0 0;
	background-color: snow;
	margin-left: 3.5%;
	margin-right: 3.5%;
	color: navy;
}

.homecompany{
	font-size: 75%;
	color: #003366;
}

.homeheading{
	font-size: 150%;
}

.googlemaps{
	font-size: 75%;
	text-decoration: none;
	color: #00008b;
}

.removelink{
	font-size: 75%;
	text-decoration: none;
	color: #00008b;
}

.eventaddress{
	font-size: 85%;
}

.beerrating{
	color: black;
	font-weight: bold;
	padding-bottom: 0;
	text-decoration: none;
}

.beerpadding{
	padding-top: 4px;
}

.beerpaddingthin{
	padding-top: 2px;
	padding-bottom: 2px;
}

.beerheading{
	font-family: 'Roboto Slab', serif;
	color: snow;
	background-color: #1569C7;
	letter-spacing: 2px;
	margin-bottom: 0;
	margin-left: 2%;
	margin-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	font-size: 120%;
	border-left: 1px solid #1569C7;
	border-right: 1px solid #1569C7;
	line-height: 30px;
	}

.beerheadingfull{
	color: white;
	background-color: #1569C7;
	letter-spacing: 2px;
	font-variant:small-caps;
    font-family: 'Roboto Slab', serif;
	margin-bottom: 0;
	margin-left: 3.5%;
	margin-right: 3.5%;
	padding-bottom: 1%;
	padding-top: 1%;
	font-size: 120%;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	}
	
.beerstatslabel{
	color: tomato;
	font-size: 90%;
	font-weight: 700;
}

.beerstatsvalue{
	color: #0c3c73;
	font-size: 90%;
	font-weight: 400;
}

.beerstatsvalue-m{
	color: #0c3c73;
	font-size: 85%;
	font-weight: 400;
}

.profileattribute{
	color: #0c3c73;
	font-size: 90%;
	font-weight: 700;
}

.emptycontent{
	font-size: 80%;
	font-weight: 400;
}

.topheading{
	color: tomato;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 180%;
}

.topcontent{
	color: #0c3c73;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 110%;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
	
.loginlink{
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 0px 1px #fbfcfc;
}

.beercrowd{
	font-family: 'Averia Libre', cursive;
	font-size: 280%;
	color: white;
	letter-spacing: 1.5px;
	text-align: center;
	background-color: tomato;
	display: inline;
	font-weight: 700;
}

.icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	padding-left: 1px;
	padding-right: 1px;
}

.icon-home{
	display: inline-block;
	width: 24px;
	height: 24px;
	padding-left: 1px;
	padding-right: 1px;
	vertical-align: middle;
}

.icon-m{
	display: inline-block;
	width: 20px;
	height: 20px;
	padding-left: 1px;
	padding-right: 1px;
	vertical-align: middle;
}

.icon-beer{
	display: inline-block;
	width: 42px;
	height: 42px;
	padding-left: 1px;
	padding-right: 1px;
}

.icon-drop{
	vertical-align: middle;
}

.notecolor{
	color: navy;
}

.ratings{
	color: navy;
	letter-spacing: 1px;
}

#beerimg{
	padding: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px 200px;
}

.content-base{
	color:#082445;
	background-color:snow;
	padding: .5%;
	text-align: left;
	font-weight: 700;
	border-bottom: 1.5px solid #d9e9fb;
	text-align: center;
}


.content-base-nobold{
	color:#082445;
	background-color:snow;
	padding: .5%;
	text-align: left;
	border-bottom: .5px solid #cfccd6;
	text-align: center;
}

.content-base-navyborder{
	color:#082445;
	background-color:snow;
	padding: 1%;
	text-align: left;
	border-bottom: 2px solid #d9e9fb;
	text-align: center;
}

.content-base-shadow{
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.navybottomborder{
	padding: 1%;
	border-bottom: 2px solid navy;
	margin-left: 1%;
	margin-right: 1%;
}

.bluebottomborder{
	border-bottom: 2px solid #1569C7;
	margin-left: 1%;
	margin-right: 1%;
}

.content-1{
	font-size: 85%;
	padding: 0 0 0 0;
	margin-left: 3%;
	margin-right: 3%;
	color: #0c3c73;
	text-decoration: none;
}

.ps-section{
	font-size: 150%;
	padding: 0 0 0 0;
	margin-left: 3%;
	margin-right: 3%;
	color: tomato;
	text-decoration: none;
	font-weight: 900;
	text-align: left;
}

.alt-hyper{
	color: blue;
}


.content-1-nm{
	font-size: 90%;
	color: navy;
	text-decoration: none;
}

.content-2{
	color: #0c3c73;
	padding-bottom: 0;
	text-decoration: none;
	font-weight: 700;
	font-size: 80%;
}

.content-2-nobold{
	color: black;
	padding-bottom: 0;
	text-decoration: none;
	font-weight: 500;
	font-size: 80%;
}

.content-3{
	font-size: 80%;
	color: #0c3c73;
	padding-left: 1%;
	padding-right: 1%;
}

.content-3-tomato{
	font-size: 80%;
	color: tomato;
	padding-left: 1%;
	padding-right: 1%;
}

.nobold{
	font-weight: 500;
}

.content-3-black{
	font-size: 85%;
	color: #0c3c73;
	font-weight: 400;
	padding-left: 1%;
	padding-right: 1%;
}

.content-tomato{
	color: tomato;
	font-weight: bold;
}


.content-description{
	font-weight: 500;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 80%;
	letter-spacing: 1px;
}

.content-description-bullet{
	font-weight: 700;
	font-size: 70%;
	letter-spacing: 1px;
	background-color: #1569C7;
	margin-bottom: 3px;
}

.content-description-top{
	font-weight: 700;
	font-size: 75%;
	letter-spacing: 1px;
	background-color: white;
	margin-bottom: 2px;
	color: #1569C7;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 1%;
	margin-right: 1%;
}

.content-description-beer{
	font-size: 100%;
	letter-spacing: 1px;
}

.content-beer{
	font-weight: 500;
}

.content-blankstate{
	margin-left: 5%;
	margin-right: 5%;
	color:navy;
	background-color:snow;
	padding: 1%;
	text-align: left;
	font-weight: bold;
	border-bottom: .5px solid #cfccd6;
	text-align: center;
}

.content-wrapper{
	padding-left: 2%;
	padding-right: 2%;
	text-align: left;
}

.content-beer-padding{
	margin-left: 5%;
	margin-right: 5%;
}

.content-beer-black{
	font-weight: 500;
	color: black;
}

.content-correction{
	padding-right: 5%;
}

.padding-left{
	padding-left: 20px;
}

.club-content-b{
	padding-right: 2%;
}

.club-content-span{
	color: #0c3c73;
	font-weight: 500;
}

.club-content-span-text{
	color: navy;
	font-weight: 500;
	font-size: 80%;
}

.club-content-span-bold{
	color: #cfccd6
	font-weight: 700;
}

.dropdown{
	font-size: 90%;
	color: white;
	font-weight: 700;
	background-color: tomato;
}

.removesubmit{
	background: none;
	border: none;
	padding: 0;
}

.removesubmitannouncement{
	background: none;
	border: none;
	padding: 0;
	color: snow;
}

.removesubmit:hover{
	color: tomato;
	background-color: snow;
	padding: 0;
}

.removesubmitannouncement:hover{
	color: #1569C7;
	background-color: tomato;
	padding: 0;
}

#id_note {
    width: 80%;
	height: 100px;
}


input[id^='id_']{	
	padding: 5px;
    border: solid 2px lightgray;
    transition: border 0.3s;
}

input[id^='id_']:focus,
input[id^='id_'].focus {	
  border: solid 2px tomato;
  outline: none;
}

#id_name {
	width: 70%;
}


textarea {
	width: 96%;
	height: 60px;
	padding: 5px;
    border: solid 2px lightgray;
    transition: border 0.3s;
}

textarea:focus,
textarea.focus {
	border: solid 2px tomato;
	outline: none;
}

.fafaspace{
	padding: 2px;
}

.navytext{
	color: navy;
}

.content-1-profile{
	font-size: 85%;
	color: navy;
	text-decoration: none;
	text-align: left;
	padding: 0 .7em 0 1.2em;
	background: none;
	border: none;
	list-style-type: none;
}

.home-star{
	font-size: 150%;
	color: tomato;
	margin: 0;
	padding: 0;
	letter-spacing: 4px;
}

.beer-star{
	font-size: 180%;
	color: tomato;
	margin: 0;
	padding: 0;
	letter-spacing: 4px;
}

.home-star-empty{
	font-size: 150%;
	color: gray;
	margin: 0;
	padding: 0;
	letter-spacing: 4px;
}

.beer-star-empty{
	font-size: 180%;
	color: gray;
	margin: 0;
	padding: 0;
	letter-spacing: 4px;
}

.beerme{
	width: 80%;
}

.managetool {
	color: snow;
	margin: 0 5px;
}

.managetool:hover {
	color: tomato;
	background-color: #1569C7;
	padding: 0;
}

.managetooltomato {
	color: snow;
	margin: 0 5px;
}

.managetooltomato:hover {
	color: #1569C7;
	background-color: tomato;
	padding: 0;
}

.manage-descriptor {
	color: tomato;
	padding-right: 4px;
	padding-bottom: 4px;
	font-size: 100%;
	text-align: center;
	display: block;
}

ul
{
    list-style-type: none;
}

li#profilesheet
{
	display: inline-block;
	width: 15%;
}

li#profilesheetm
{
	display: inline-block;
	width: 24%;
}

input
{
	text-align: center;
    border: solid 2px lightgray;
}


input:focus{
	border: solid 2px tomato;
}

a:hover {
	background-color: snow;
	color: tomato;
}

.tomato {
	color: tomato;
}