body {
    background-color: white;
    font-family: "Arial"; 
}

.w3-beer
{
	color:#000;
	background-color:#FF9933;
	padding: 0;
	margin: 1px 1% 1px 1%;
	}

.homebeer{
	font-size: 115%;
}

.homecompany{
	font-size: 75%;
	color: black;
}

.homeheading{
	font-size: 150%;
}

.googlemaps{
	font-size: 75%;
}

.eventaddress{
	font-size: 85%;
}