body {
    background-color: white;
    font-family: "Arial"; 
}

.topmenu {
	background-color: navy;
	border-bottom: 2px solid tomato; 
}

.topmenu-positive {
	background-color: tomato;
	border-bottom: 2px solid navy; 
}

.topmenu-announcement {
	background-color: tomato;
	color: snow;
	font-weight: bold;
	margin: 0;
	padding-top: .5%;
	padding-bottom: .5%;
	padding-left: 0;
	padding-right: 0;
	font-size: 100%;
}

.w3-beer{
	color: snow;
	background-color: tomato;
	padding: 0;
	margin: .5% 1% 1px 1%;
	border-bottom: 2px solid navy; 
	text-shadow: 0px 0px 2px navy;
	font-weight: bold;
	}
	
.top-beer{
	padding-left: 1%;
	padding-right: 1%;
}
	
.beernote{
	color:#00008b;
	background-color:snow;
	padding: 0;
	text-align: left;
	font-weight: bold;
	border-bottom: .5px solid tomato;
}

.whitenote{
	color:navy;
	background-color:snow;
	padding: 0;
	text-align: left;
	font-weight: bold;
	border-bottom: .5px solid tomato;
}
	
.homebeer{
	font-size: 115%;
	padding: 0 0 0 0;
	background-color: snow;
	margin-left: 5%;
	margin-right: 5%;
	color: navy;
}

.homecompany{
	font-size: 75%;
	color: #003366;
}

.homeheading{
	font-size: 150%;
}

.googlemaps{
	font-size: 75%;
	text-decoration: none;
	color: #00008b;
}

.removelink{
	font-size: 75%;
	text-decoration: none;
	color: #00008b;
}

.eventaddress{
	font-size: 85%;
}

.beerrating{
	color: black;
	font-weight: bold;
	padding-bottom: 0;
	text-decoration: none;
}

.beerpadding{
	padding-top: 4px;
}

.beerpaddingthin{
	padding-top: 2px;
	padding-bottom: 2px;
}

.beerheading{
	color: white;
	background-color: navy;
	letter-spacing: 2px;
	font-variant:small-caps;
    font-family: "Arial"; 
	margin-bottom: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 1%;
	padding-top: 1%;
	font-size: 140%;
	font-weight: 600;
	border-bottom: 1px solid tomato;
	}

.loginlink{
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 0px 1px #fbfcfc;
}

.beercrowd{
	font-size: 240%;
	font-variant:small-caps;
	color: navy;
	text-shadow: 0px 0px 5px tomato;
	font-weight: bold;
}

.notecolor{
	color: navy;
}

.ratings{
	color: navy;
	letter-spacing: 2px;
}

#beerimg{
	padding: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px 200px;
}

.content-base{
	color:navy;
	background-color:snow;
	padding: 1%;
	text-align: left;
	font-weight: bold;
	border-bottom: .5px solid tomato;
	text-align: center;
	padding-right: 1.5%;
}

.content-1{
	font-size: 90%;
	padding: 0 0 0 0;
	margin-left: 3%;
	margin-right: 3%;
	color: navy;
	text-decoration: none;
}

.ps-section{
	font-size: 150%;
	padding: 0 0 0 0;
	margin-left: 3%;
	margin-right: 3%;
	color: navy;
	text-decoration: none;
	font-weight: 900;
	text-shadow: 0px 0px 1px tomato;
}

.content-1-nm{
	font-size: 90%;
	color: navy;
	text-decoration: none;
}

.content-2{
	color: black;
	padding-bottom: 0;
	text-decoration: none;
	font-weight: 500;
	font-style: italic;
	font-size: 80%;
}

.content-3{
	font-size: 75%;
	color: navy;
	font-weight: 700;
	padding-left: 1%;
	padding-right: 1%;
}

.content-description{
	font-weight: 500;
	padding-left: 3%;
	padding-right: 3%;
}

.content-beer{
	font-weight: 500;
}

.content-blankstate{
	font-size: 100%;
	padding-top: 8px;
	background-color: snow;
	margin-left: 5%;
	margin-right: 5%;
	color: navy;
}

.content-wrapper{
	padding-left: 2%;
	padding-right: 2%;
	text-align: left;
}

.content-beer-padding{
	margin-left: 5%;
	margin-right: 5%;
}

.content-beer-black{
	font-weight: 500;
	color: black;
}

.content-correction{
	padding-right: 5%;
}

.club-content-b{
	padding-right: 2%;
}

.club-content-span{
	color: black;
	font-weight: 500;
}

.dropdown{
	font-size: 75%;
	color: navy;
	font-weight: 600;
	background-color: snow;
}

.removesubmit{
	background: none;
	border: none;
	padding: 0;
}

#id_note {
    width: 80%;
	height: 100px;
}

.fafaspace{
	padding: 2px;
}

.navytext{
	color: navy;
}

.content-1-profile{
	font-size: 85%;
	color: navy;
	text-decoration: none;
	text-align: left;
	padding: 0 .7em 0 1.2em;
	background: none;
	border: none;
	list-style-type: none;
}

ul
{
    list-style-type: none;
}

li
{
	display: inline-block;
}